.container.clearfix.articles-with-subhead
    .vertical-container
        h2.vertical #{title}

    .rounded
        .content-container
            - each story in stories
                li
                    h2
                        a.list-story.hover.highlight-right(href='#{story.url || ('article/' + story.urls[story.urls.length-1])}', class='#{story.cssClass}')
                            #{story.title}
                            - if (story.info || story.authors)
                                p.subhead
                                    span.subhead #{story.info || story.authors}
                                    - if (story.date)
                                        span.date #{story.date}
