extends category-box

block category
    - var author = category
    .content-container.author-listing
        .columnist-info.clearfix
            - if (author.images && author.images.StaffHeadshot)
                img.headshot(src=author.images.StaffHeadshot.url)
            - if (author.name)
                h3.name
                    | #{author.name}&nbsp;
                    - if (typeof twitter != 'undefined' && twitter)
                        a.twitter(href="http://twitter.com/#{twitter}") @#{twitter}
            - if (author.affiliation)
                p.year #{author.affiliation}
            - if (author.tagline)
                p.tagline #{author.tagline}
    
        .story-list
            - each story in author.stories
                a.hover.highlight-right(href='#{story.url}')
                    h3.title #{story.title}
                    p.date #{story.date}
                    p.teaser #{story.teaser}
