.clearfix.block
    .vertical-container
        h2.vertical #{title}

    a.rounded-hover.hover.highlight-right(href=story.url)
        .content-container
            h2 #{story.title}
            if (story.images && story.images.ThumbSquareM)
                img.thumb(src=story.images.ThumbSquareM.url)
            p.teaser #{story.teaser}