.block
    if (typeof title != 'undefined')
        .vertical-container
            .vertical #{title}

    .rounded
        a.content-container.hover.highlight-right(href=story.url)
            h4.title #{story.title}
            - if (typeof imageType != 'undefined' && imageType == "rect" && story.images && story.images.ThumbRect)
                img.fit-image(src=story.images.ThumbRect.url)
            - else if (story.images && story.images.ThumbSquareM)
                img.fit-image(src=story.images.ThumbSquareM.url)
            p.teaser #{story.teaser}