.container.clearfix.block
    .vertical-container
        if (typeof title != 'undefined')
            h2.vertical #{title}
        else
            h2.vertical &nbsp;

    a.rounded-hover.hover.highlight-right(href=story.url)
        .content-container
            h2 #{story.title}
            if (typeof imageType != 'undefined' && imageType == "rect")
                if (story.images && story.images.ThumbRect)
                    img.thumb(src=story.images.ThumbRect.url)
            else
                if (story.images && story.images.ThumbSquareM)
                    img.thumb(src=story.images.ThumbSquareM.url)
            p.teaser #{story.teaser}