.block
    if (typeof title != 'undefined')
        .vertical-container
            .vertical #{title}

    .rounded
        a.hover.highlight-bottom(href=story.url)
            .image-container
                - if (story.images && story.images.ThumbWide)
                    img.fit-image(src=story.images.ThumbWide.url)
            .content-container
                h4 #{story.title}
                p.teaser #{story.teaser}