.container.clearfix.featured
    .vertical-container
        h2.vertical #{title}

    a.rounded-hover.hover.highlight-bottom(href=story.url)
        .content-container
            - if (story.images && story.images.LargeRect)
                img(src=story.images.LargeRect.url)
            .text-
                h2 #{story.title}
                p.teaser #{story.teaser}
