.featured
    .vertical-container
        .vertical #{title}

    .rounded
        a.hover.highlight-bottom.content-container(href=story.url)
            - if (story.images && story.images.LargeRect)
                img.fit-image(src=story.images.LargeRect.url)
            .text
                h3.title #{story.title}
                p.teaser #{story.teaser}
