.featured
    .vertical-container
        .vertical #{title}

    .rounded
        a.hover.highlight-bottom(href=story.url)
            .image-container
                - if (story.images && story.images.LargeRect)
                    img.fit-image(src=story.images.LargeRect.url)
            .content-container
                h3.title #{story.title}
                p.teaser #{story.teaser}
