.vertical-container
    h2.vertical #{title}

- if (typeof url !='undefined')
    a.rounded.image-container.clearfix(href='#{url}')
        img(src='#{imageUrl}', width='#{width}', height='#{height}')
        - if (typeof caption != 'undefined')
            .caption #{caption}
- else
    .rounded.image-container.clearfix
        img(src='#{imageUrl}', width='#{width}', height='#{height}')
        - if (typeof caption != 'undefined')
            .caption #{caption}


