include container-helpers

.image
  mixin vertical-label
  - if (typeof url !='undefined')
    a.rounded.image-container.clearfix(href=url)
      img(src=imageUrl)
      - if (typeof caption != 'undefined')
        p.caption= caption
  - else
    .rounded.image-container.clearfix
      img(src=imageUrl)
      - if (typeof caption != 'undefined')
        p.caption= caption
