.news-box
    .vertical-container
        .vertical #{title}
    
    .rounded
        .top
            a.hover.highlight-left.clearfix(href='#{stories[0].url}')
                .content-container
                    - if (stories[0].images && stories[0].images.ThumbRect)
                        img(src=stories[0].images.ThumbRect.url)
                    h4 #{stories[0].title}
                    p.teaser #{stories[0].teaser}
    
        .bottom.clearfix
            .span-3.left-column.content-container
                if (typeof stories[1] != 'undefined')
                    a.hover.highlight-left.first(href='#{stories[1].url}')
                        h4 #{stories[1].title}
                        p.teaser #{stories[1].teaser}
    
                if (typeof stories[2] != 'undefined')
                    a.hover.highlight-left.last(href='#{stories[2].url}')
                        h4 #{stories[2].title}
                        p.teaser #{stories[2].teaser}
    
            .span-3.last.content-container
                ul.stories
                    - each story, index in stories
                        - if (index > 2)
                            li
                                a.hover.highlight-right(href='#{story.url}')
                                    h4.title #{story.title}
