.content-container
    .columnist-info.clearfix
        - if (typeof images != 'undefined' && typeof images.ThumbSquareM != 'undefined')
            img.headshot(src=images.ThumbSquareM.url)
        - if (typeof name != 'undefined' && name)
            h3.name
                | #{name}&nbsp;
                - if (typeof twitter != 'undefined' && twitter)
                    a.twitter(href="http://twitter.com/#{twitter}") @#{twitter}
        - if (typeof affiliation != 'undefined' && affiliation)
            p.year #{affiliation}
        - if (typeof tagline != 'undefined' && tagline)
            p.tagline #{tagline}

    - each story in stories
        a.hover.highlight-right.first.teaser(href='#{story.url}')
            h2 #{story.title}
            p.date #{story.date}
            p #{story.teaser}
