.row.row-2
    if (typeof title != 'undefined')
        .vertical-container
            .vertical #{title}

    .rounded
        a.hover.content-container.highlight-right.clearfix(href=story.url)
            h4.title #{story.title}
            p.teaser.left #{story.teaser}
            - if (story.images && story.images.ThumbSquareM)
                img.right(src=story.images.ThumbSquareM.url)