.clearfix.row
    .vertical-container
        if (typeof title != 'undefined')
            h2.vertical #{title}
        else
            h2.vertical &nbsp;

    a.rounded-hover.hover.highlight-right.clearfix(href=story.url)
        .content-container.clearfix

            h2 #{story.title}
            
            if (story.images && story.images.ThumbSquareM)
                img.thumb(src=story.images.ThumbSquareM.url)
            p.teaser #{story.teaser}