.row
    if (typeof title != 'undefined')
        .vertical-container
            .vertical #{title}

    .rounded
        .content-container
            a.hover.hover.highlight-right(href=story.url)
                if (story.images && story.images.ThumbRect)
                    img.thumb(src=story.images.ThumbRect.url)
                h4.title #{story.title}
                p.teaser #{story.teaser}
