.story-list.story-list-image
    .vertical-container
        .vertical #{title}

    .rounded
        .image-container
            - if (image && imageHref)
                a(href=imageHref)
                    img.fit-image(src=image)
        .content-container
            - if (stories)
                - each story in stories
                    a.list-story.hover.highlight-right(href='#{story.url}')
                        h5 #{story.title}
