.story-list.story-list-subhead
    .vertical-container
        .vertical #{title}

    .rounded
        .content-container
            - each story in stories
                a.list-story.hover.highlight-right(href='#{story.url || ('article/' + story.urls[story.urls.length-1])}')
                    h5.title #{story.title}
                    p.subhead
                        - if (story.info || story.authors)
                            span #{story.info || story.authors}
                        - if (story.date)
                            span #{story.date}
