.container.clearfix.story-list
    .vertical-container
        h2.vertical #{title}

    .rounded
        .content-container
            - if (image)
                - if (imageHref)
                    a(href=imageHref)

                        img(src=image, style='border-radius: 4px; margin-left: -2px; margin-top: -1px; margin-bottom: 5px')
            - if (stories)
                - each story in stories
                    h2
                        a.list-story.hover.highlight-right(href='#{story.url}', class='#{story.cssClass}')
                            #{story.title}
