.clearfix
    .vertical-container
        h2.vertical #{title}
    
    a.rounded-hover.rounded.hover.highlight-right(href='http://twitter.com/#{user}')
        .content-container.clearfix
            img(src='#{imageUrl}')
            .text
                h3 @#{user}
                p #{tweet}
