include container-helpers

.clearfix
    mixin vertical-label
    .rounded.clearfix.title-medium
        .content-container.span-4.story-list
            - each story, index in stories
                - if (index % 2 === 0)
                    a.hover.list-story.highlight-left(href='#{story.url}')
                        h3.title #{story.title}
                        p.teaser #{story.teaser}

        .content-container.span-4.last.story-list
            - each story, index in stories
                - if (index % 2 === 1)
                    a.hover.list-story.highlight-right(href='#{story.url}')
                        h3.title #{story.title}
                        p.teaser #{story.teaser}
