h1 Add Author Info
if (typeof doc !== 'undefined') 
    form(action='/admin/author', method='POST')
        p
            label(for='name') Name:
            input#name(type='text', value=doc['name'], name="name")
        p
            label(for='dukeAffiliation') Year / Duke Affil.:
            input#dukeAffiliation(type='text', value=doc['dukeAffiliation'], name="dukeAffiliation")
        p
            label(for='tagline') Tagline:
            input#tagline(type='text', value=doc['tagline'], name="tagline")
        p
            label(for='columnistDay') Columnist Day:
            input#columnistDay(type='text', value=doc['columnistDay'], name="columnistDay")
        p
            label(for='bio') Bio:
            textarea#bio(rows=20, cols=30, name="bio")
                !{doc['bio']}
        input(type="hidden", name='id', value=doc._id);
        !=partial("admin/container/images")
        p
            input(type='submit', class='btn', value='Save')
else
    form(action='/admin/author', method='GET')
        p
            label(for='name') Name:
            input#name(type='text', name='name')
            input(type='submit', class='btn', value='Find Author')
