extends layout

block stylesheet
    mixin stylesheet("config")

block content
    - var configTitle = 'Chronicle Configuration';
    - if(showOnly == null)
        - var action = '/config';
    - else
        - var action = '/config?showOnly=' + showOnly;
        - configTitle += ' for ' + showOnly;

    h1 !{configTitle}
    div(style="color:red")
        !{error}
    form(class="fake-form")
      h4 Config Profile Name:
      input(type='text', name=profileName, value=profileValue, readonly="true")
      br
      br
      br
      br
    - each param in configParams
        if(showOnly == null || showOnly == param.name)
            h4 !{param.description+":"}
            - if(typeof param.defaultValue == "object")
                input(type="button", id=param.name+"-rawSwitch", class="rawSwitch", value="Show Raw")
                br
                textarea(id=param.name+"-val", name=param.name, schema=JSON.stringify(param.schema), class="expand", style="width:75%")
                    !{JSON.stringify(param.defaultValue,null,"\t")}
            - else
                input(id=param.name+"-val", type='text', name=param.name, schema=JSON.stringify(param.schema), value=param.defaultValue, style="width:75%")
            form(id=param.name, class="fake-form")
                div(class="onde-panel")
            br
            br
            br
    div
    form(id="configForm", action=action, method='POST')
      input(type='hidden', name=revisionName, value=revisionValue)
      input(type='hidden', name=profileName, value=profileValue, readonly="true")
      input(type='submit')
