h1 Editing a Document
form(action='/admin/edit', method='POST')
  p
    label(for='title') Title:
    input#title(type='text', name='doc[title]', value=doc.title)
  p
    label(for='body') Body:
    textarea#body(rows=5, cols=20, name='doc[body]', value)
      #{doc.body}
  p
    - each group, key in groups
      label(for=key) #{group}:
      - if(!doc.groups || doc.groups.indexOf(group) == -1)
        input.check(type='checkbox', id=key, name='doc[groups]', value=group)
      - else
        input.check(type='checkbox', id=key, name='doc[groups]', value=group, checked='yes')
    input(type='hidden', name='doc[id]', value=doc.id)
  p
    input(type='submit', value='add')
    
form(action='/admin/addgroup', method='GET')
  label(for='addgroup') Add group:
  input#addgroup(type='text', name='addgroup')
  input(type='submit', value='add')