script(src='/js/crop.js', type='text/javascript')
h1 Crop
- if(url)
  img#toCrop(src=url)
p
  select#sizes(onchange="updateCropSize()")
    - each dim, name in cropSizes
      option(value=name) #{name}
p
  form#coords(action='/admin/image/crop', method='POST')
    input#x1(type='hidden', name='x1')
    input#x2(type='hidden', name='x2')
    input#y1(type='hidden', name='y1')
    input#y2(type='hidden', name='y2')
    input(type='hidden', name='name', value=name)
    - if(article)
      input(type='hidden', name='article', value=article)
    input(type='submit')
p
  br
  form(action='/admin/image/info', method='POST')
    !Name: 
    input(type='text', name='name', value=name)
    br
    !Caption: 
    input(type='text', name='caption', value=caption)
    br
    !Location: 
    input(type='text', name='location', value=location)
    br
    !Photographer: 
    input(type='text', name='photographer', value=photographer)
    br
    !Date: 
    input(type='text', name='date', value=date)
    input(type='hidden', name='id', value=id)
    br
    input(type='submit')

- if(versions.length > 0)
  hr
  - if(!article)
    h1 Existing Versions
  - else
    h1 Existing Versions (click to add to article)
  #versions!= partial('version', {collection: versions, locals: {article: article, imageTypes: imageTypes}})
