extends layout

block content
  include ../mixins/form-helpers
  #k4export.container
    h1 K4 Exporter
    form.well(action='/admin/k4export', method='post', enctype='multipart/form-data')
      label(for='zip') XML Zip
      input#zip(type='file', name='zip')
      br
      input.btn-primary.btn-large(type='submit')

    a(href='/admin/manage') Manage and edit uploaded articles
    - if (failed && failed.length)
      h2 The following articles could not be uploaded:
      - each article in failed
        p #{article}
    - if (succeeded && succeeded.length)
      h2 The followed articles were uploaded successfully
      - each article, i in succeeded
        form.well.article-form(data-article=JSON.stringify(article))
          h3.title= article.title
          select.image
            option(value='') Select an image
            - each image in imageData
              option(value=JSON.stringify(image), title=image.thumbUrl) #{image.displayName}
          &nbsp;
          mixin taxonomySelect(taxonomy, article.taxonomy, i)
          input.btn(type="submit") Submit
