h1 K4 Exporter
form(action='/admin/k4export', method='post', enctype='multipart/form-data')
  label(for='zip') XML Zip:
  input(type='file', name='zip')
  br
  input(type='submit', class='btn')

a(href='/admin/manage') Manage and edit uploaded articles
- if (failed && failed.length)
  h2 The following articles could not be uploaded:
  - each article in failed
    p #{article}
- if (succeeded && succeeded.length)
  h2 The followed articles were uploaded successfully
  table
    - each article in succeeded
      tr(id=article.id)
        td
          a(href='/article/' + article.url) #{article.title}
        td
          select.taxonomy(id='tax'+article.id, style='width: 200px')
            - if (article.taxonomy[0] in taxonomy)
              - each key, value in taxonomy[article.taxonomy[0]]
                  option(value=value) #{key}
            - else
              option(value='') Select a section
              - each subsections, section in taxonomy
                - each key, value in subsections
                    option(value=value) #{key}
        td
          select.image(id='img'+article.id, style='width: 300px')
            option(value='') Select an image
            - each image in imageData
              option(value=JSON.stringify(image), title=image.thumbUrl) #{image.displayName}
        td
          button(id='sub'+article.id, style='width: 200px') Submit
