#k4export
  h1 K4 Exporter
  form(action='/admin/k4export', method='post', enctype='multipart/form-data')
    label(for='zip') XML Zip:
    input(type='file', name='zip')
    br
    input(type='submit', class='btn')
  
  a(href='/admin/manage') Manage and edit uploaded articles
  - if (failed && failed.length)
    h2 The following articles could not be uploaded:
    - each article in failed
      p #{article}
  - if (succeeded && succeeded.length)
    h2 The followed articles were uploaded successfully
    - each article in succeeded
      form.well.form-inline.article-form(data-article=JSON.stringify(article))
        h3.title #{article.title}
        select.taxonomy
          - if (article.taxonomy && article.taxonomy[0] in taxonomy)
            - each key, value in taxonomy[article.taxonomy[0]]
              - if (JSON.stringify(article.taxonomy) == value)
                  option(value=value, selected='selected') #{key}
              - else
                  option(value=value) #{key}
          - else
            option(value='') Select a section
            - each subsections, section in taxonomy
              - each key, value in subsections
                  option(value=value) #{key}
        select.image
          option(value='') Select an image
          - each image in imageData
            option(value=JSON.stringify(image), title=image.thumbUrl) #{image.displayName}
        input.btn(type="submit") Submit
