table(border=1)
    - each doc in docs
        tr
            td
                a(href='/article/' + doc.urls[doc.urls.length - 1]) #{doc.title}
            td
                a(href='/article/' + doc.urls[doc.urls.length - 1] + '/edit') Edit
            td
                a.delete(href='#', data-docId=doc._id, data-title=doc.title, data-docRev=doc._rev) Delete
            td
                a(href='http://'+ host + ':' + port + '/_utils/document.html?' + db + '/' + doc._id) #{doc._id}

if (docs.length == 0)
    h1 No Articles Available

if (hasPrevious)
    a(onClick="history.go(-1);") Previous
    br

if (docs.length != 0)
    a(href='/admin/manage?beforeKey=' + docs[docs.length - 1].created + '&beforeID=' + docs[docs.length - 1]._id) Next

script
    $(document).ready(function(){

        $(".delete").click(function(event) {
            event.preventDefault();

            var anchor = $(event.target);
            var title = anchor.attr('data-title');
            var docId = anchor.attr('data-docId');
            var docRev = anchor.attr('data-docRev');

            $('<div id="dialog-confirm">Delete <strong>' + title + '?</strong></div>').appendTo('body');

            $("#dialog-confirm").dialog({
                dialogClass: 'delete-confirmation-dialog',
                title: 'Delete Article',
                resizable: false,
                autoOpen: true,
                height:140,
                modal: true,
                buttons: {
                    "Delete": function() {

                        $.ajax({
                            type: 'DELETE',
                            url: '/admin/article/' + docId,
                            data: 'rev=' + docRev,
                            success: function() {
                                $(this).remove();
                                location.reload();
                            }
                        });
                    },
                    Cancel: function() {
                        $(this).remove();
                    }
                }
            });

        });
    });
