tr
  td #{original.displayName}
  td
      if (typeof docId != 'undefined')
          if (typeof afterUrl != 'undefined')
              a(href='/admin/image/' + original.name + '?afterUrl=' + afterUrl + '&docId=' + docId)
                  img(src=original.thumbUrl)
          else
              a(href='/admin/image/' + original.name + '?docId=' + docId)
                  img(src=original.thumbUrl)
      else
          a(href='/admin/image/' + original.name)
              img(src=original.thumbUrl)
   td
      a.delete-image(href='#', data-id=original._id, data-orig='1') Delete
