script NAMESPACE = !{JSON.stringify(nameSpace)};

h2 !{page} Layout

#layout
    - each group in groups
        br
        <h2>!{group}</h2>
        .container(data-groupName=group)
            - if (groupDocs[group])
                - each story, id in groupDocs[group]
                    .story(id=story._id, data-groups=JSON.stringify(story.groups))
                        #{story.title}

#sidebar
    .fixed-container
        select(id="taxonomy")
                option(value="All") All
                - each section in mainSections            
                    option(value=section) !{section}
        #stories-container
            #stories
                - each story, id in sectionDocs
                    .story(id=story._id, data-groups=JSON.stringify(story.groups))
                        #{story.title}
