script NAMESPACE = !{JSON.stringify(nameSpace)};

h2 !{page} Layout

#layout
    - each group in groups
        br
        <h2>!{group}</h2>
        .container(data-groupname=group)
            - if (groupDocs[group])
                - each story, id in groupDocs[group]
                    .story(id=story._id, data-groups=JSON.stringify(story.groups))
                        #{story.title}

#sidebar
    button#save.btn Save Layout
    select#taxonomy
        option(value="All") All
            - each section in mainSections            
                option(value=section) !{section}

    #stories-container
        - each story, id in sectionDocs
            .story(id=story._id, data-groups=JSON.stringify(story.groups))
                #{story.title}
