script NAMESPACE = !{JSON.stringify(nameSpace)};

h2 !{page} Layout

#layout
    - each group in groups
        br
        <h2>!{group}</h2>
        .container(data-groupname=group)
            - if (groupDocs[group])
                - each story, id in groupDocs[group] 
                    - if (((Date.now()/1000 + 43200) > story.created ) && ((Date.now()/1000 - 43200) < story.created))
                        .story.today(id=story._id, data-groups=JSON.stringify(story.groups), draggable="true")
                            #{story.title}
                    -else    
                        .story(id=story._id, data-groups=JSON.stringify(story.groups), draggable="true")
                            #{story.title}

#sidebar
    button#save.btn Save Layout
    select#taxonomy
        option(value="All") All
            - each section in mainSections            
                option(value=section) !{section}
    #stories-container
        #stories
            - each story, id in sectionDocs
                - if (((Date.now()/1000 + 43200) > story.created ) && ((Date.now()/1000 - 43200) < story.created))
                    .story.today(id=story._id, data-groups=JSON.stringify(story.groups), draggable="true")
                        #{story.title}
                - else
                    .story(id=story._id, data-groups=JSON.stringify(story.groups), draggable="true")
                        #{story.title}

script CHRONICLE.onload.push(function(){layout()})
