table(border=1)
  tr
    td Width
    td Height
    td Image
    td Add to Article
  tr
    td #{version.doc.width}
    td #{version.doc.height}
    td
      img(src=version.doc.url)
    - if(article)
      td
        form(action='/article/' + article + '/edit')
          select(name='imageType')
            - each type in imageTypes
              option(value=type) #{type}
          input(type='submit', value='add')