table(border=1)
  tr
    td Width
    td Height
    td Image
    td Add to Article
  tr
    td #{version.doc.width}
    td #{version.doc.height}
    td
      img(src=version.doc.url)
    - if(article)
      td
        form(action='/admin/edit', method='POST')
          select(name='imageType')
            - each type in imageTypes
              - if (cropSizes[type].width == version.doc.width && cropSizes[type].height == version.doc.height)
                option(value=type, selected='yes') #{type}
              - else
                option(value=type) #{type}
          input(type='hidden', name='versionId', value=version.doc._id)
          input(type='hidden', name='original', value=version.doc.original)
          input(type='hidden', name='article', value=article)
          input(type='submit', value='add')
          &nbsp;
          a(onClick="showDescriptions()") What's This?
