script(src='/js/jquery.textarea-expander.js', type='text/javascript')
h1 Chronicle Configuration
form(action='/config', method='POST')
  label='Config Profile Name:'
  br
  input(type='text', name=profileName, value=profileValue)
  br
  br
  - each param in configParams    
    div
        label=param.description+':'
        br
        - if(typeof param.defaultValue == "object") 
            textarea(name=param.name, class="expand", style="width:75%")
                !{JSON.stringify(param.defaultValue,null,"\t")}
        - else
            input(type='text', name=param.name, value=param.defaultValue, style="width:75%")
        br
        br
        br
        br
        br
  input(type='submit')
