h1 Chronicle Configuration
form(action='/config', method='POST')
  label='Config Profile Name:'
  br
  input(type='text', name=profileName, value=profileValue)
  br
  br
  - each param in configParams    
    label=param.description+':'
    br
    input(type='text', name=param.name, value=param.default)
    br
    br
  input(type='submit')
