- if(showOnly == null)
    - var action = '/config';
- else
    - var action = '/config?showOnly=' + showOnly;

h1 Chronicle Configuration
div(style="color:red")
    !{error}
form(action=action, method='POST')
  input(type='hidden', name=revisionName, value=revisionValue)
  label='Config Profile Name:'
  br
  input(type='text', name=profileName, value=profileValue, readonly="true")
  br
  br
  - each param in configParams    
    if(showOnly == null || showOnly == param.name)
        div
            label=param.description+':'
            br
            - if(typeof param.defaultValue == "object") 
                textarea(name=param.name, class="expand", style="width:75%")
                    !{JSON.stringify(param.defaultValue,null,"\t")}
            - else
                input(type='text', name=param.name, value=param.defaultValue, style="width:75%")
            br
            br
            br
            br
            br
    else
        - if(typeof param.defaultValue == "object") 
                input(type='hidden', name=param.name, value=JSON.stringify(param.defaultValue,null,"\t"))            
        - else
                input(type='hidden', name=param.name, value=param.defaultValue)   
  input(type='submit')
