- var configTitle = 'Chronicle Configuration';
- if(showOnly == null)
    - var action = '/config';
- else
    - var action = '/config?showOnly=' + showOnly;
    - configTitle += ' for ' + showOnly;

h1 !{configTitle}
div(style="color:red")
    !{error}
form(class="fake-form")
  h4 Config Profile Name:
  input(type='text', name=profileName, value=profileValue, readonly="true")
  br
  br
  br
  br
- each param in configParams    
    if(showOnly == null || showOnly == param.name)
        h4 !{param.description+":"}
        - if(typeof param.defaultValue == "object") 
            a(id=param.name+"-rawSwitch", class="rawSwitch") !{"Show Raw"}
            textarea(id=param.name+"-val", name=param.name, class="expand", style="width:75%")
                !{JSON.stringify(param.defaultValue,null,"\t")}
        - else
            input(id=param.name+"-val", type='text', name=param.name, value=param.defaultValue, style="width:75%")
        form(id=param.name, class="fake-form")
            div(class="onde-panel")
        br
        br
        br
div
form(id="configForm", action=action, method='POST')
  input(type='hidden', name=revisionName, value=revisionValue)
  input(type='hidden', name=profileName, value=profileValue, readonly="true")
  input(type='submit')

script
    var JSON_TO_FORM_ELEMENTS = !{JSON.stringify(configParams)};
