h1 Crop
- if(url)
  img#toCrop(src=url)
p
  select#sizes(data-sizes=JSON.stringify(imageDetails))
    - each name in imageTypes
      option(value=name) #{name}
  &nbsp;
  a.help What's This?
p
  form#coords(action='/admin/image/crop', method='POST')
    input#fWidth(type='hidden', name='finalWidth')
    input#fHeight(type='hidden', name='finalHeight')
    input#x1(type='hidden', name='x1')
    input#x2(type='hidden', name='x2')
    input#y1(type='hidden', name='y1')
    input#y2(type='hidden', name='y2')
    input(type='hidden', name='name', value=name)
    - if(afterUrl)
      input(type='hidden', name='afterUrl', value=afterUrl)
    - if(docId)
      input(type='hidden', name='docId', value=docId)
    input(type='submit')
p
  br
  form(id="infoform", action='/admin/image/info', method='POST')
    span Name: 
    input(type='text', name='name', value=name)
    br
    span Caption: 
    input(type='text', name='caption', value=caption)
    br
    span Location: 
    input(type='text', name='location', value=location)
    br
    span Photographer: 
    input(type='text', name='photographer', value=photographer)
    br
    span Date: 
    input(id='nicedate', type='text', name='nicedate', value=date)
    input(id='date', type='hidden', name='date', value=date)
    input(type='hidden', name='id', value=id)
    - if(afterUrl)
      input(type='hidden', name='afterUrl', value=afterUrl)
    - if(docId)
      input(type='hidden', name='docId', value=docId)
    br
    input(type='submit')

- if(versions.length > 0)
  hr
  - if(docId)
    h1 Existing Versions (click to add to document)
  - else
    h1 Existing Versions

  - if(docId)
    #versions!= partial('version', {locals: {afterUrl: afterUrl, docId: docId, imageTypes: imageTypes, cropSizes: imageDetails, allVersions: versions}})
  - each version in versions
    #versions!= partial('version', {locals: {afterUrl: afterUrl, docId: docId, imageTypes: imageTypes, cropSizes: imageDetails, version: version}})

script(type="text/javascript")
    CHRONICLE.onload.push(function(){prettifyDate()}, function(){cropImage()},
                          function(){deleteImage()})