.container.clearfix.block-row
    .vertical-container
        h2.vertical #{title}

    .rounded
        .content-container.clearfix
            - each story, index in stories
                a.list-story.hover.highlight-bottom(href='#{story.url}', class='#{story.cssClass}')
                    - if (story.cssClass !== "first")
                        h3 #{story.title}
                        p.teaser
                            #{story.teaser}
                        - if (story.images && story.images.thumbLarge)
                            img(src="#{story.images.thumbMediumSquare.url}")
                    - else
                        h2 #{story.title}
                        - if (story.images && story.images.thumbMediumSquare)
                            img(src="#{story.images.thumbLarge.url}")




