.container.clearfix.block
    .vertical-container
        h2.vertical #{title}

    a.rounded-hover.hover.highlight-right(href=story.url)
        .content-container

            if (story.images && story.images.ThumbWide)
                img.thumb(src=story.images.ThumbWide.url)
            h2 #{story.title}
            p.teaser #{story.teaser}