.container.clearfix.block-row.same
    .vertical-container
        h2.vertical #{title}

    .rounded
        .content-container.clearfix
            - if (stories)
                - each story, index in stories
                    a.list-story.hover.highlight-bottom(href='#{story.url}', class='#{story.cssClass}')
                        h3 #{story.title}

                        - if (story.images && story.images.ThumbRect)
                            img(src="#{story.images.ThumbRect.url}")
                        p.teaser
                            #{story.teaser}

