.container.clearfix.featured
    .vertical-container
        h2.vertical #{title}

    a.rounded-hover(href=story.url)
        .content-container
            - if (story.images && story.images.largeRect)
                img(src=story.images.largeRect.url)
            .text-
                h2 #{story.title}
                p.teaser #{story.teaser}