.container.clearfix
    .vertical-container
        if (typeof title !== 'undefined')
                h2.vertical #{title}
            else
                h2.vertical &nbsp;
    .rounded
        .content-container
            - each story, index in stories
                - if (index % 2 === 0)
                    a.hover.highlight-left.first.teaser(href='#{story.url}')
                        - if (story.tagline)
                            p.author #{story.tagline}
                        - else
                            p.author #{story.taxonomy[1]}
                        h2 #{story.title}
                        p.author By #{story.author}
                        - if (story.thumb)
                            img.thumb(src=story.thumb)
                        p.teaser #{story.teaser}

                - else
                    a.hover.highlight-right.first.teaser(href='#{story.url}')
                        - if (story.tagline)
                            p.tagline #{story.tagline}
                        - else
                            p.tagline #{story.taxonomy[1]}
                        h2 #{story.title}
                        p.author By #{story.author}
                        - if (story.thumb)
                            img.thumb(src=story.thumb)
                        p.teaser #{story.teaser}

                    .separator