.container.clearfix
	.vertical-container
		h2.vertical #{title}
	
	.rounded
		.content-container
			.top
				a.hover.highlight-right(href='#')
					h2 #{stories[0].title}
					p #{stories[0].teaser}

			.clear-both
			.left
				a.hover.highlight-left.first(href='#')
					h3 #{stories[1].title}
					p #{stories[1].teaser}

				a.hover.highlight-left(href='#')
					h3 #{stories[2].title}
					p #{stories[2].teaser}

			.right
				- each story, index in stories
					- if (index > 2)
						a.hover.highlight-right(href='#')
							h4 #{story.title}