.container.clearfix(id=model.poll._id)
  .vertical-container
      h2.vertical Poll

  .rounded
      .content-container
          h1 #{poll.title}
          ul.choices
          - each votes, choice in poll.answers
              il.choice(id=choice, votes=votes)
                  a.hover(href="#")
                      h2 #{choice}
