.container.clearfix.row
    .vertical-container
        if (typeof title != 'undefined')
            h2.vertical #{title}
        else
            h2.vertical &nbsp;

    a.rounded-hover.hover.highlight-right.clearfix(href=story.url)
        .content-container.clearfix

            h2 #{story.title}
            img.thumb(src='http://graphics8.nytimes.com/images/2010/09/16/opinion/Friedman_New/Friedman_New-thumbStandard.jpg')
            if (story.images && story.images.ThumbRect)
                img.thumb(src=story.images.ThumbRect.url)
            p.teaser #{story.teaser}