.survey(id=survey.id)
  .container.clearfix
      .vertical-container
          h2.vertical Survey

      .rounded
          .content-container
              h1 #{survey.title}
              - each votes, choice in survey.answers
                  .choice(id=choice, votes=votes)
                      a.hover(href="#")
                          h2 #{choice}
