.container.clear-fix.top-news
	.vertical-container
		h2.vertical #{title}
	
	.rounded
		.content-container.align-group
		
			.left.align-element
				a.hover.left.first.teaser(href='#')
					h2 #{news.top.title}
					p #{news.top.teaser}
				a.hover.left(href='#')
					h3 #{news.second.title}
				a.hover.left(href='#')
					h3 #{news.third.title}
			.right.clear-fix.align-element
				a.hover.right.first.teaser(href='#')
					h2 #{sports.top.title}
					p #{sports.top.teaser}
				a.hover.right(href='#')
					h3 #{sports.second.title}
				a.hover.right(href='#')
					h3 #{sports.third.title}
			.clear-both
