.container.top-news
	.vertical-container
		h2.vertical #{title}
	
	.rounded.collection
		.content-container.clearfix.align-group
		
			.left.align-element
				a.hover.left.first.teaser(href='#')
					h2 #{news.top.title}
					p #{news.top.teaser}
				a.hover.left(href='#')
					h3 #{news.second.title}
				a.hover.left(href='#')
					h3 #{news.third.title}
			.right.align-element
				a.hover.first.teaser(href='#')
					h2 #{sports.top.title}
					p #{sports.top.teaser}
				a.hover(href='#')
					h3 #{sports.second.title}
				a.hover(href='#')
					h3 #{sports.third.title}
