.container.clearfix
	.vertical-container
		h2.vertical #{title}
	
	.rounded
		.content-container.align-group.clearfix
		
			.left.align-element
				a.hover.highlight-left.first.teaser(href='#')
					//span.timestamp #{news.top.timestamp}
					h2 #{news[0].title}
					p #{news[0].teaser}

				- each story, index in news
					- if (index > 0)
						a.hover.highlight-left(href='#')
							h3 #{story.title}

			.right.align-element
				a.hover.highlight-right.first.teaser(href='#')
					//span.timestamp #{sports.top.timestamp}
					h2 #{sports[0].title}
					p #{sports[0].teaser}

				- each story, index in sports
					- if (index > 0)
						a.hover.highlight-right(href='#')
							h3 #{story.title}

