.container.clearfix.sidebar.twitter
	.vertical-container
		h2.vertical #{title}
	
	a.hover.rounded-hover(href='http://twitter.com/#{user}')
		.content-container
			img(src='#{imageUrl}')
			.text
				h3 @#{user}
				p #{tweet}