.slideshow.vertical
    .slides
        for story, index in stories
            a(href=story.url)
                 .text
                    if (index == 0)
                        h1 #{story.title}
                        h2 #{story.teaser}
                    else
                        h1(style="display:none") #{story.title}
                        h2(style="display:none") #{story.teaser}
                 if (story && story.images && story.images.LargeRect)
                    if (index == 0)
                        img(src=story.images.LargeRect.url)
                    else
                        img(src=story.images.LargeRect.url, style="display: none")
               

    .headlines.roundedbottom
        for story in stories
            a.page #{story.title}
