.slideshow
    .slides
        for story in stories
            a(href=story.url)
                 .text
                    h1 #{story.title}
                    h2 #{story.teaser}
                if (story && story.images && story.images.LargeRect)
                    img(src=story.images.LargeRect.url)
               

    .headlines.roundedbottom
        for story in stories
            a.page #{story.title}
