.slideshow
    .slides
        for story in stories
            a(href=story.url)
                if (story && story.images && story.LongRect)
                    img(src=story.images.LongRect.url)
                .text
                    h1 #{story.title}
                    h2 #{story.teaser}
               

    .headlines.roundedbottom
        for story in stories
            a.page #{story.title}
