.slideshow.right
    .slides
        for story in stories
            a(href=story.url)
                if (story && story.images && story.images.LongRect)
                    img(src=story.images.LongRect.url)

    .headlines
        for story in stories
            a.page.rounded
                if (story && story.images && story.images.ThumbSquareM)
                    img(src=story.images.ThumbSquareM.url)
                    h2 #{story.title}
                    p.teaser #{story.teaser}
