#article
    article

        .content.rounded
            h1 #{doc.title}
            .metadata
                span.credit
                    | By #{doc.authorsHtml} &nbsp; | &nbsp; #{doc.date}

            .social-media
                .comments
                    a(href='#dsq-content') Comments
                .print
                    a(href=doc.path + '/print') Print
                .facebook
                    iframe(src='http://www.facebook.com/plugins/like.php?app_id=176268009080455&amp;href=' + encodeURIComponent(doc.fullUrl) + '&amp;send=false&amp;layout=button_count&amp;width=121&amp;show_faces=false&amp;action=recommend&amp;colorscheme=light&amp;font=lucida+grande&amp;height=20', scrolling='no', frameborder='0', style='border:none; overflow:hidden; width:121px; height:20px;', allowTransparency='true')
                .twitter
                    a.twitter-share-button(href="http://twitter.com/share?via=dukechronicle" )
                        | Tweet
                .google
                    g:plusone(size="medium")



            !=doc.renderedBody

        .sidebar
            .image-container.medium-rectangle!=partial('container/image', model.adFullRectangle)
    #disqus_thread.rounded
script(src='/js/disqus.js', type='text/javascript')
script
    loadDisqusForArticle('!{doc.id}');
script(src="http://platform.twitter.com/widgets.js", type="text/javascript")
script(type="text/javascript")
    (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
