!!! 5
html(lang="en")
	head
		title The Chronicle | Duke University's Daily Independent Newspaper
		link(rel='stylesheet', href='/css/reset.css')
		link(rel='stylesheet', href='/style.css')
		link(rel='stylesheet', href='/slideshow/style.css')
		link(rel='stylesheet', href='/container/style.css')
		link(rel='stylesheet', href='/frontpage.css')
		
	body
		#shell
			header
				img(src='images/header-overlay.png', id='header-overlay', width='149px', height='177px')

				#header-top
					img.leaderboard(src='images/ads/leaderboard.png', width='728px', height='90px')
				#header-bottom
					h1
						a(href='/') The Chronicle
					nav
						h2.first
							a(href='#') News
						h2
							a(href='#') Sports
						h2
							a(href='#') Opinion
						h2
							a(href='#') Recess
						h2
							a(href='#') Towerview
						h2
							a(href='#') Multimedia
						h2.last
							a(href='#') Blogs

					form#search-box(method='GET')
						input(type='search', placeholder='Search archives', results='5')
			section
				#main
					!=partial('slideshow')
					.top-news!=partial('container/top-news', model.headlines)
					div
						.image-container.print-edition!=partial('container/image', model.printEdition)
						.image-container.full-banner.advertisement!=partial('container/image', model.adFullBanner)
				#sidebar
					.twitter!=partial('container/twitter', model.twitter)
					.most-popular!=partial('container/most-popular', model.popular)
					.image-container.advertisement!=partial('container/image', model.adFullRectangle)
					.opinion!=partial('container/opinion', model.opinion)
			footer

	script(src='js/jquery.js')
	//script(src='js/jquery-ui.js')
	script(src='js/underscore-min.js')
	script(src='js/container/vertical-text-align.js')
	script(src='js/slideshow/slideshow.js')