#top.clearfix
	.content
		#slideshow!=partial('slideshow')
		.top-news!=partial('container/top-news', model.headlines)
		div
			.image-container.print-edition!=partial('container/image', model.printEdition)
			.image-container.full-banner!=partial('container/image', model.adFullBanner)
	.sidebar
		.twitter!=partial('container/twitter', model.twitter)
		.most-popular!=partial('container/most-popular', model.popular)
		.image-container.medium-rectangle!=partial('container/image', model.adFullRectangle)
		.opinion!=partial('container/opinion', model.opinion)
#middle
	#news-sports.clearfix
		#news!=partial('container/news', model.news)
		#sports!=partial('container/news', model.sports)
#bottom
	#recess!=partial('container/block-row', model.recess)
	#towerview!=partial('container/block-row', model.towerview)

