extends ../layout

block content
  include ../../mixins/form-helpers
  .container
    form.form-horizontal(action='', method='POST')
      legend Edit Article: "#{doc.title}"
      input(type='hidden', name='_method', value='put')
      input(type='hidden', name='doc[id]', value=doc._id)
      mixin text-control-group('title', 'Title', doc)
      mixin text-control-group('subhead', 'Subhead', doc)
      .control-group
        label.control-label(for='section0') Section
        .controls
          mixin taxonomySelect(taxonomy, doc.taxonomy)
      .control-group
        label.control-label(for='authors') Authors
        .controls
          input.input-xlarge#authors(type='text', name='doc[authors]', value=doc.authors.join(', '))
          span.help-block Author names should be comma separated
      mixin textarea-control-group('teaser', 'Teaser', doc, 3)
      mixin textarea-control-group('body', 'Body', doc, 5)

      include ../container/images

      .form-actions
        button.btn-large.btn-primary(type='submit') Submit
        |  
        button.btn-large.btn-danger.delete-article(data-docid=doc._id, data-rev=doc._rev, data-title=doc.title, data-dest='/admin') Delete
