h1 Editing a Document
form(action='', method='POST')
    input(type="hidden", name="_method", value="put")
    p(style="margin-bottom: 2em")
        label(for='title') Title&nbsp;
        input#title(type='text', name='doc[title]', value=doc.title, style='width:600px')
    p(style="margin-bottom: 2em")
        label(for='title') Subhead&nbsp;
        input#title(type='text', name='doc[subhead]', value=doc.subhead, style='width:600px')
    p(style="margin-bottom: 2em")
        label(for='section') Section&nbsp;
        select(name='doc[taxonomy]', style='width: 600px')
          option(value='') Select a section
           - each subsections, section in taxonomy
              - each key, value in subsections
                - if (JSON.stringify(doc.taxonomy) == value)
                    option(value=value, selected='selected') #{key}
                - else
                    option(value=value) #{key}
    p(style="margin-bottom: 2em")
        label(for='author') Authors&nbsp;
        input#author(type='text', name='doc[authors]', value=doc.authors, style='width:600px')
    p(style="margin-bottom: 2em")
        label(for='teaser') Teaser&nbsp;
        textarea#teaser(rows=3, cols=50, name='doc[teaser]', value, style='width:600px; height: 2.5em')
            #{doc.teaser}
    // Add ability to format selected text to make it easier for posters
    script
        function formatText(tag) {
            var textBox = document.getElementById('mainText');
            var start = textBox.selectionStart;
            var end = textBox.selectionEnd;
            var text = textBox.value;
            textBox.value = text.substring(0, start)+tag+text.substring(start,end)+tag+text.substring(end);
        }

    p(style="margin-left:130px;margin-bottom: 1 em")
        button(style="height:20px",type="button", onclick="formatText('*')") <i>Italicize</i>
        button(style="height:20px;margin-left:10px", type="button", onclick="formatText('**')") <b>Bold</b>

    p(style="margin-bottom: 2em")
        label(for='body') Article&nbsp;
        textarea#body(rows=5, cols=50, id='mainText', name='doc[body]', value, style='width:600px; height: 40em')
            #{doc.body}

    input(type="hidden", name='doc[id]', value=doc._id);
    p
        a(href='/admin/image/manage?afterUrl=' + afterAddImageUrl + '&forDocument=' + doc._id) Add images
    - if(images)
        p
        table(border=1)
            - each image, imageType in images
                tr
                    td #{imageType}
                    td
                        img(src=image.url)
                    td
                        a(href='/article/' + url + '/edit/?removeImage=' + image._id) Remove
    p
        input(type='submit', value='Submit Changes')
        &nbsp;&nbsp;
        input.delete-article(type='button', value='Delete Article', data-docid=doc._id, data-rev=doc._rev, data-title=doc.title, data-dest='/admin')

script CHRONICLE.onload.push(function(){deleteArticle()})