extends ../layout

block content
    .container
        h1 Editing a Document
        form.well(action='', method='POST')
            input(type="hidden", name="_method", value="put")
            label(for='title') Title
            input.span4#title(type='text', name='doc[title]', value=doc.title)
            label(for='subhead') Subhead
            input.span4#subhead(type='text', name='doc[subhead]', value=doc.subhead)
            label(for='section0') Section
            - each level, i in taxonomy
                select.span3(name='doc[taxonomy][#{i}]', id='section#{i}')
                    option(value='') --
                    - each section in level
                        - var selected = (doc.taxonomy[i] == section.name) ? 'selected' : undefined;
                        option(value=section.name, class=section.parent, selected=selected)= section.name
            label(for='author') Authors
            input.span4#author(type='text', name='doc[authors]', value=doc.authors.join(', '))
            label(for='teaser') Teaser
            textarea.span8#teaser(rows=3, name='doc[teaser]') #{doc.teaser}
            label(for='body') Article
            textarea.span8#body(rows=10, name='doc[body]') #{doc.body}
            input(type="hidden", name='doc[id]', value=doc._id);

            !=partial("admin/container/images")

            input.btn-large(type='submit', value='Submit Changes')
            &nbsp;&nbsp;
            input.btn-large.delete-article(type='button', value='Delete Article', data-docid=doc._id, data-rev=doc._rev, data-title=doc.title, data-dest='/admin')
