- if(query == null) var query = ""
- query = query.replace(/-/g, ' ');
- if (typeof section == 'undefined') var section = undefined

#super-header.clearfix
    span.date.local-time.left(data-format='dddd, mmmm d, yyyy')
    .icons.left
        a(href="http://www.facebook.com/dukechronicle")
            img(src=staticCdn + "/img/icons/facebook.png") 
        a(href="http://twitter.com/dukechronicle")
            img(src=staticCdn + "/img/icons/twitter.png") 
        a(href="http://youtube.com/user/DukeChronicle")
            img(src=staticCdn + "/img/icons/youtube.png") 
        a(href="/rss")
            img(src=staticCdn + "/img/icons/rss.png")
    .advertising-links.right
        a(href="/page/subscribe") Print Subscription 
        a(href="/page/advertising") Advertising 
        a(href="http://dukechronicle.campusave.com") Classifieds 
        a(href="http://chroniclehousing.com") Housing

block header
    header.header
        #header-bottom.clearfix
            a#home-link(href="/")
                h1.brand The Chronicle
            nav#nav
                a(href="/news", class=(section == 'News') ? "active" : ""): h2 News
                a(href="/sports", class=(section == 'Sports') ? "active" : ""): h2 Sports
                a(href="/opinion", class=(section == 'Opinion') ? "active" : ""): h2 Opinion
                a(href="/recess", class=(section == 'Recess') ? "active" : ""): h2 Recess
                a(href="/towerview", class=(section == 'Towerview') ? "active" : ""): h2 Towerview
                a(href="http://chronicleblogs.com"): h2 Blogs
                a(href="http://shutter.dukechronicle.com"): h2 Photos
            form#search-box(action='/search/', method='GET')
                input(type='search', name='q', placeholder='Search archives', results='5', value=query)

        .subheader.clearfix
            .span-5
                .pagetitle
                    block title
                        h1= pageTitle
            - if (typeof subsections != 'undefined')
                .nav-container.span-7.last
                    nav.subnav
                        - each subsection in subsections
                            a.hover(href='/section/' + subsection.path)
                                h2= subsection.name