- if(query == null) var query = ""
- query = query.replace(/-/g, ' ');

.div
    img(src=static_cdn + '/images/header-overlay.png', id='header-overlay', width='100px', height='122px')

#header-top
    .content

        h1
            a(href='/') The Chronicle |
        p.tagline The Independent Daily at<br /> Duke University

    .social-media
        .inner
            .icons
                a(href='http://www.facebook.com/dukechronicle')
                    img.first(src=static_cdn + '/images/icons/facebook.png')
                a(href='http://twitter.com/dukechronicle')
                    img(src=static_cdn + '/images/icons/twitter.png')
                a(href='http://youtube.com/user/DukeChronicle')
                    img(src=static_cdn + '/images/icons/youtube.png')
                a(href='http://foursquare.com/dukechronicle')
                    img(src=static_cdn + '/images/icons/foursquare.png')
                a(href='/rss')
                    img(src=static_cdn + '/images/icons/rss.png')
                a(href='/page/newsletter')
                    img.last(src=static_cdn + '/images/icons/email.png')

    .leaderboard
        .full-banner-raw.advertising.openx-ad(class="{zoneID: 308}")



- if (typeof section == 'undefined') var section = undefined

#header-bottom
    nav#nav.clearfix
        h2
            a(href='/news',
              class=(section == 'News') ? "active" : "") News
        h2
            a(href='/sports',
              class=(section == 'Sports') ? "active" : "") Sports
        h2
            a(href='/opinion',
              class=(section == 'Opinion') ? "active" : "") Opinion
        h2
            a(href='/recess',
              class=(section == 'Recess') ? "active" : "") Recess
        h2
            a(href='/towerview',
              class=(section == 'Towerview') ? "active" : "") Towerview
        h2
            a(href='http://chronicleblogs.com') Blogs
        h2
            a(href='http://shutter.dukechronicle.com/') Photos

    .advertising.advertising-links(style='float: right')
        a(href='/page/subscribe') Print Sub
        a(href='/page/advertising') Advertising
        a(href='http://dukechronicle.campusave.com/') Classifieds
        a(href='http://chroniclehousing.com/') Housing




    form#search-box(action='/search/', method='GET')
        input(type='search', name='q', placeholder='Search archives', results='5', value=query)
