- if(query == null) var query = ""
- query = query.replace(/-/g, ' ');
- if (typeof section == 'undefined') var section = undefined

#header-top
    .span-2 &nbsp;
    a.content.span-8(href="/")
        img#header-overlay(src=static_cdn + '/images/header-overlay.png')
        p.date #{currentDate()}
        h1.brand The Chronicle
        p.tagline The Independent Daily at Duke University
    .span-2 &nbsp;

    .leaderboard.span-12.last.clearfix
        .full-banner-raw.advertising.right.openx-ad(class="{zoneID: 308}")

        .icons.left
            a(href="http://www.facebook.com/dukechronicle")
                img(src=static_cdn + '/images/icons/facebook.png')
            a(href="http://twitter.com/dukechronicle")
                img(src=static_cdn + '/images/icons/twitter.png')
            a(href="http://youtube.com/user/DukeChronicle")
                img(src=static_cdn + '/images/icons/youtube.png')
            a(href="http://foursquare.com/dukechronicle")
                img(src=static_cdn + '/images/icons/foursquare.png')
            a(href="/rss")
                img(src=static_cdn + '/images/icons/rss.png')
            a(href="/page/newsletter")
                img(src=static_cdn + '/images/icons/email.png')

        .advertising-links.right
            a(href="/page/subscribe") Print Subscription
            a(href="/page/advertising") Advertising
            a(href="http://dukechronicle.campusave.com") Classifieds
            a(href="http://chroniclehousing.com") Housing

br

#header-bottom
    nav.span-20#nav
        a(href="/news", class=(section == 'News') ? "active" : "") News
        a(href="/sports", class=(section == 'Sports') ? "active" : "") Sports
        a(href="/opinion", class=(section == 'Opinion') ? "active" : "") Opinion
        a(href="/recess", class=(section == 'Recess') ? "active" : "") Recess
        a(href="/towerview", class=(section == 'Towerview') ? "active" : "") Towerview
        a(href="http://chronicleblogs.com") Blogs
        a(href="http://shutter.dukechronicle.com") Photos

    form.span-4.last#search-box(action='/search/', method='GET')
        input(type='search', name='q', placeholder='Search archives', results='5', value=query)
