#frontpage
    #top.clearfix
        .content
            if (model.Slideshow)
                #slideshow!=partial('slideshow', {stories: model.Slideshow})
            .ads-row.clearfix
                if (model.printEdition)
                    .image-container.print-edition.lighten!=partial('container/image', model.printEdition)
                if (model.adFullBanner)
                    .image-container.full-banner.lighten!=partial('container/image', model.adFullBanner)
            if (model.NewsHeadlines && model.SportsHeadlines)
                .top-news!=partial('container/top-news', {title: "Headlines", news: model.NewsHeadlines, sports: model.SportsHeadlines})

        .sidebar
            if (model.twitter)
                .twitter!=partial('container/twitter', model.twitter)
            if (model.popular)
                .most-popular!=partial('container/most-popular', model.popular)
            if (model.adFullRectangle)
                .image-container.medium-rectangle.lighten!=partial('container/image', model.adFullRectangle)
            if (model.Opinion)
                .opinion!=partial('container/opinion', {title: "Opinion", stories: model.Opinion})
    #middle
        #news-sports.clearfix
            if (model.News)
                #news!=partial('container/news', {title: "News", stories: model.News})
            if (model.Sports)
                #sports!=partial('container/news', {title: "Sports", stories: model.Sports})
    #bottom
        if (model.Recess)
            #recess!=partial('container/block-row', {title: "Recess", stories: model.Recess})
        if (model.Towerview)
            #towerview!=partial('container/block-row', {title: "Towerview", stories: model.Towerview})

