.nav.clearfix
    for subsection,subsectionName in subsections    
            h2
                a(href='/section/'+subsectionName) #{subsectionName}
#opinion
    .top.clearfix
        // feature
        .main!=partial('container/featured-image.jade')
        .right
            .row.first!=partial('container/row', {story: {}})
            .row.last!=partial('container/row', {story: {}})
            
        // columnist
        .row
            div!=partial('container/sample-block.jade', {title: "Columnist"})
            div!=partial('container/sample-block.jade', {title: "Columnist"})
            div!=partial('container/sample-block.jade', {title: "Columnist"})
            .last!=partial('container/sample-block.jade', {title: "Columnist"})
    .middle.clearfix
        // rss
        .blog!=partial('container/sample-block.jade', {title: "Blog"})
        // edit board
        .editBoard!=partial('container/sample-block.jade', {title: "Editorial Board"})
        // most popular
        .mostPopular.last!=partial('container/sample-block.jade', {title: "Popular"})
    .bottom
        // more columnists
        .row
            div!=partial('container/sample-block.jade', {title: "Columnist"})
            div!=partial('container/sample-block.jade', {title: "Columnist"})
            div!=partial('container/sample-block.jade', {title: "Columnist"})
            .last!=partial('container/sample-block.jade', {title: "Columnist"})
