!=partial('site/subnav', {subsections: subsections})

#opinion
    .top.clearfix
        .left
            .grid
                if (model.Featured)
                    .row.first
                        if (model.Featured[1])
                            .first!=partial('container/row-2', {title: model.Featured[1].authors[0], story: model.Featured[1]})
                        if (model.Featured[2])
                            .last!=partial('container/row-2', {title: model.Featured[2].authors[0], story: model.Featured[2]})
                if (model.Featured && model.Featured[2])
                    .row.last
                        if (model.Featured[3])
                            .first!=partial('container/row-2', {title: model.Featured[3].authors[0], story: model.Featured[3]})
                        if (model.Featured[4])
                            .last!=partial('container/row-2', {title: model.Featured[4].authors[0], story: model.Featured[4]})
        .right
            if (model.Blog)
                .blog!=partial('container/story-list', {title: "Backpages", stories: model.Blog})
            if (model.adFullRectangle)
                .image-container.medium-rectangle.lighten!=partial('container/image', model.adFullRectangle)
            if (model.adFullBanner)
                .image-container.full-banner.lighten!=partial('container/image', model.adFullBanner)

    .bottom.clearfix
        .editorial-board!=partial('container/teaser-with-date.jade', {title: "Editorial Board", stories: model.EditorialBoard})
        #columnists
            #columnist-list
                .container.clearfix.story-list
                    .vertical-container
                        h2.vertical Columnists
                    .rounded
                        .content-container
                            - each columnist, index in model.Columnists
                                h2
                                    a.list-story.hover.highlight-left(data-index=index, href="#")
                                        #{columnist.name}
            #columnist-articles.container.clearfix
                .vertical-container
                    if (typeof title != 'undefined')
                            h2.vertical #{title}
                        else
                            h2.vertical &nbsp;
                .rounded
                    - each columnist, index in model.Columnists
                        .columnist-stories(id="columnist-story-#{index}")!=partial('container/opinion-story-list.jade', columnist)

