.nav.clearfix
    if (subsections)
        for subsectionName,subsectionPath in subsections
            h2
                a(href='/section/' + subsectionPath) #{subsectionName}
#opinion
    .top.clearfix
        // feature
        if (model.Featured && model.Featured[0])
            .main!=partial('container/featured-image.jade', {title: "", story: model.Featured[0]})
        .right
            if (model.Featured)
                .row.first
                    if (model.Featured[1])
                        .first!=partial('container/row', {title: "", story: model.Featured[1]})
                    if (model.Featured[2])
                        .last!=partial('container/row', {title: "", story: model.Featured[2]})
            if (model.Featured && model.Featured[2])
                .row.last
                    if (model.Featured[3])
                        .first!=partial('container/row', {title: "", story: model.Featured[3]})
                    if (model.Featured[4])
                        .last!=partial('container/row', {title: "", story: model.Featured[4]})

            
        // columnist
        .row.columnists
            if (model.EditBoard)
                div!=partial('container/story-list', {title: "Editorial Board", stories:model.EditBoard})
            if (model.Columnists && model.Columnists[0])
                div!=partial('container/story-list', model.Columnists[0])
            if (model.Columnists && model.Columnists[1])
                div!=partial('container/story-list', model.Columnists[1])
            if (model.Columnists && model.Columnists[2])
                .last!=partial('container/story-list', model.Columnists[2])
    //
        .middle.clearfix
            if (model.Blog)
                .blog!=partial('container/story-list.jade', {title: "Blog", stories: model.Blog})
            if (model.EditBoard && model.EditBoard[3])
                .editBoard!=partial('container/block.jade', {title: "Editorial Board", story:model.EditBoard[0]})
            .mostPopular.last!=partial('container/sample-block.jade', {title: "Popular"})
    .bottom
        // more columnists
        .row
            if (model.MoreColumnists && model.MoreColumnists[0])
                div!=partial('container/block.jade', {title: "Columnist", story:model.MoreColumnists[0]})
            if (model.MoreColumnists && model.MoreColumnists[1])
                div!=partial('container/block.jade', {title: "Columnist", story:model.MoreColumnists[1]})
            if (model.MoreColumnists && model.MoreColumnists[2])
                div!=partial('container/block.jade', {title: "Columnist", story:model.MoreColumnists[2]})
            if (model.MoreColumnists && model.MoreColumnists[3])
                .last!=partial('container/block.jade', {title: "Columnist", story:model.MoreColumnists[3]})
