#opinion
    .top.clearfix
        .main!=partial('container/featured-image.jade')
        .right
            .row.first!=partial('container/row')
            .row.last!=partial('container/row')
        .row
            div!=partial('container/block.jade')
            div!=partial('container/block.jade')
            div!=partial('container/block.jade')
            .last!=partial('container/block.jade')
    .middle.clearfix
        div!=partial('container/block.jade')
        div!=partial('container/block.jade')
        .last!=partial('container/block.jade')
    .bottom
        .row
            div!=partial('container/block.jade')
            div!=partial('container/block.jade')
            div!=partial('container/block.jade')
            .last!=partial('container/block.jade')