script(type='text/javascript')
    var scrollLoadUrl = "staff/#{name}?";
    var nextPageToLoad = 2;

    var scrollLoadHTML =
    '<h3><a href="/article/URL_REPLACE" class="addedArticle">HEADER_REPLACE</a></h3><div class="date">DATE_REPLACE</div>';
#people
    h1 #{name}
    .main
        .rounded.result
            for doc in docs
                h3
                    a(href=doc.url) #{doc.title}
                .date #{doc.date}
                    //span.sep &nbsp;|&nbsp
                    //| #{doc.authors}
                //.teaser #{doc.teaser}
            - if(docs.length == 0)
                div No articles found
            div.result.rounded-hover(id='loadImage')
                img(src='http://d2sug25c5hnh7r.cloudfront.net/images/loading.gif', style="display: block; margin-left: auto; margin-right: auto")
                br
                br
                br
                br
                br
                br
                br
                br
