#people
    h1 #{name}
    .main
        .rounded.result
            for doc in docs
                h3
                    a(href=doc.url) #{doc.title}
                .date #{doc.date}
                    //span.sep &nbsp;|&nbsp
                    //| #{doc.authors}
                //.teaser #{doc.teaser}
            - if(docs.length == 0)
                div No articles found
