.nav.clearfix
    h2.first
        a(href='/section/Arts') Arts
    h2
        a(href='/section/Film') Film
    h2
        a(href='/section/Music') Music
    h2
        a(href='/section/Food') Food
    h2.last
        a(href='/section/Literature') Literature

#recess
    .top.clearfix
        // features
        .main!=partial('container/featured-image.jade', {title: "", story: model.Features[0]})
        .right
            .column.first
                div!=partial('container/block.jade', {title: "", story: model.Features[1]})
                div!=partial('container/block.jade', {title: "", story: model.Features[2]})
            // rss feed
            .column.last
                .blog!=partial('container/sample-block.jade', {title: "Blog", story:{}})

    .middle.clearfix
        // sandbox
        .sandbox!=partial('container/block-row.jade', {title: 'Sandbox', stories: model.Sandbox})
        // interviews
        .interviews!=partial('container/block-row.jade', {title: 'Interviews', stories: model.Interviews})
        // reviews
        .reviews!=partial('container/block-row.jade', {title: 'Reviews', stories: model.Reviews})
    .bottom
        // stories
        .row.clearfix
            div!=partial('container/block.jade', {title: "", story:model.Stories[0]})
            div!=partial('container/block.jade', {title: "", story:model.Stories[1]})
            div!=partial('container/block.jade', {title: "", story:model.Stories[2]})
            .last!=partial('container/block.jade', {title: "", story:model.Stories[3]})