.nav.clearfix
    for parent in parentPaths
        h2.selected
            a(href=parent.path) #{parent.name} |
    for subsectionName,subsectionPath in subsections
        h2
            a(href='/section/' + subsectionPath) #{subsectionName}
#section
    for doc in docs
        a.result.rounded-hover(href=doc.url)
            h3 #{doc.title}
            .date #{doc.date}
            .teaser #{doc.teaser}
