.nav.clearfix
    for subsection,subsectionName in subsections    
        h2
            a(href='/section/'+subsectionName) #{subsectionName}
#section
    for doc in docs
        a.result.rounded-hover(href=doc.url)
            h3 #{doc.title}
            .date #{doc.date}
            .teaser #{doc.teaser}
