#sports
    .top.clearfix
        .slideshow-wrapper.right-select!=partial('slideshow/slideshow-right')
    .middle.clearfix
        .left
            .last!=partial('container/sports-block.jade')
        .right
            .column.first
                .first!=partial('container/row.jade')
                div!=partial('container/row.jade')
                .last!=partial('container/row.jade')
            .column
                .first!=partial('container/row.jade')
                div!=partial('container/row.jade')
                .last!=partial('container/row.jade')


    .bottom
        .row.clearfix
            .m-basketball!=partial('container/sports-block.jade')
            .m-soccer!=partial('container/sports-block.jade')
            .m-tennis.last!=partial('container/sports-block.jade')
        .row.clearfix.last
            .w-basketball!=partial('container/sports-block.jade')
            .w-soccer!=partial('container/sports-block.jade')
            .w-tennis.last!=partial('container/sports-block.jade')
