ul.nav.clearfix
    if (typeof subsections != 'undefined')
        li
            h2
                a.men Men
            .subnav.men.clearfix
                for subsection in subsections[0]
                    for subsectionName,subsectionPath in subsection
                        h3
                            a(href='/section/' + subsectionPath) #{subsectionName}
        li
            h2
                a.men Women
            .subnav.men.clearfix
                for subsection in subsections[1]
                    for subsectionName,subsectionPath in subsection
                        h3
                            a(href='/section/' + subsectionPath) #{subsectionName}


#sports
    .top.clearfix
        if (model.Slideshow)
            .slideshow-wrapper.right-select!=partial('slideshow/slideshow-right', {stories: model.Slideshow})
    .middle.clearfix
        .left
            if (model.adFullRectangle)
                .image-container.medium-rectangle.lighten!=partial('ad/medium-rect', {title: "Advertisement"})
            if (model.Blog)
                .blog!=partial('container/story-list-image', {locals: {title: "The Blue Zone", image: "http://d2sug25c5hnh7r.cloudfront.net/images/blogs/sportsblog-banner.jpg", imageHref:'http://sports.chronicleblogs.com', stories:model.Blog}})
            //

        .right
            if (model.Stories)
                .column.first
                    if (model.Stories[0])
                        .first!=partial('container/row-2', {story: model.Stories[0], tax: true})
                    if (model.Stories[2])
                        div!=partial('container/row-2', {story: model.Stories[2], tax: true})
                    if (model.Stories[4])
                            div!=partial('container/row-2', {story: model.Stories[4], tax: true})
                    if (model.Stories[6])
                            .last!=partial('container/row-2', {story: model.Stories[6], tax: true})
                .column
                    if (model.Stories[1])
                        .first!=partial('container/row-2', {story: model.Stories[1], tax: true})
                    if (model.Stories[3])
                        div!=partial('container/row-2', {story: model.Stories[3], tax: true})
                    if (model.Stories[5])
                        div!=partial('container/row-2', {story: model.Stories[5], tax: true})
                    if (model.Stories[7])
                        .last!=partial('container/row-2', {story: model.Stories[7], tax: true})
            .multimedia!=partial('container/multimedia', {title: "Multimedia", multimedia: model.multimedia.Sports})

    .bottom
        .row.clearfix
            if (model.Football)
                .football.first!=partial('container/sports-block.jade', {title: "Football", stories: model.Football})
            if (model.MSoccer)
                .m-soccer!=partial('container/sports-block.jade', {title: "Men's Soccer", stories: model.MSoccer})
            if (model.WSoccer)
                .w-soccer.last!=partial('container/sports-block.jade', {title: "Women's Soccer, stories: model.WSoccer"})
        //
            .row.clearfix.last
                if (model.WBasketball)
                    .w-basketball!=partial('container/sports-block.jade', {title: "Women's Basketball"})
                if (model.WSoccer)
                    .w-soccer!=partial('container/sports-block.jade', {title: "Women's Soccer"})
                if (model.WTennis)
                    .w-tennis.last!=partial('container/sports-block.jade', {title: "Women's Tennis"})
