#towerview
    .main.clearfix
        // towerview features
        .row.first!=partial('container/featured-image.jade')
        .row
            div!=partial('container/block.jade')
            div!=partial('container/block.jade')
        .row
            // savvy
            div!=partial('container/block-row.jade', {title: 'Sandbox', stories: {}})
            // wisdom
            div!=partial('container/block-row.jade', {title: 'Sandbox', stories: {}})
        .row.last
            .blog!=partial('container/block.jade')
    .sidebar.clearfix
        .editorsNote!=partial('container/block.jade')
        // prefix
        div!=partial('container/block.jade')
        div!=partial('container/block.jade')
        div!=partial('container/block.jade')