#towerview
    .main.clearfix
        // towerview features
        .row.first!=partial('container/featured-image.jade', {title: 'Feature'})
        .row.feature.clearfix
            .first!=partial('container/sample-block.jade', {title: '', story:{}})
            .last!=partial('container/sample-block.jade',{title: '', story:{}})
        .row.last
            // savvy
            div!=partial('container/block-row.jade', {title: 'Savvy', stories: {}})
            // wisdom
            div!=partial('container/block-row.jade', {title: 'Wisdom', stories: {}})
            
    .sidebar.clearfix
        .editorsNote!=partial('container/sample-block.jade', {title: "Editor's Note", story:{}})
        // prefix
        .prefix!=partial('container/sample-block.jade', {title: 'Prefix', story:{}})
        .prefix!=partial('container/sample-block.jade', {title: '', story:{}})
        .prefix!=partial('container/sample-block.jade', {title: '', story:{}})