#towerview
    .main.clearfix
        // towerview features
        .row.first!=partial('container/featured-image.jade', {title: 'Feature'})
        .row.feature.clearfix
            .first!=partial('container/block.jade', {title: ''})
            .last!=partial('container/block.jade',{title: ''})
        .row.last
            // savvy
            div!=partial('container/block-row.jade', {title: 'Savvy', stories: {}})
            // wisdom
            div!=partial('container/block-row.jade', {title: 'Wisdom', stories: {}})
            
    .sidebar.clearfix
        .editorsNote!=partial('container/block.jade', {title: "Editor's Node"})
        // prefix
        .prefix!=partial('container/block.jade', {title: 'Prefix'})
        .prefix!=partial('container/block.jade', {title: ''})
        .prefix!=partial('container/block.jade', {title: ''})