mixin taxonomySelect(levels, taxonomy, prefix)
  - prefix = prefix ? prefix + '-' : '';
  - each level, i in levels
    - var chain = i > 0 ? prefix + 'section' + (i-1) : undefined;
    select.taxonomy(name='doc[taxonomy][#{i}]', id='#{prefix}section#{i}', data-chain=chain)
      option(value='') --
        - each section in level
          - var selected = (taxonomy && taxonomy[i] == section.name) ? 'selected' : undefined;
            option(value=section.name, class=section.parent, selected=selected)= section.name
