mixin taxonomySelect(levels, taxonomy, prefix)
  - prefix = prefix ? prefix + '-' : '';
  - each level, i in levels
    - var chain = i > 0 ? prefix + 'section' + (i-1) : undefined;
    select.taxonomy(name='doc[taxonomy][#{i}]', id='#{prefix}section#{i}', data-chain=chain)
      option(value='') --
        - each section in level
          - var selected = (taxonomy && taxonomy[i] == section.name) ? 'selected' : undefined;
            option(value=section.name, class=section.parent, selected=selected)= section.name

mixin text-control-group(field, label, doc)
  - doc = doc || {}
  .control-group
    label.control-label(for=field)= label
    .controls
      input.input-xlarge(type='text', name='doc[#{field}]', id=field, value=doc[field])

mixin textarea-control-group(field, label, doc, rows)
  - doc = doc || {}
  - rows = rows || 3
  .control-group
    label.control-label(for=field)= label
    .controls
      textarea.input-xxlarge(rows=rows, name='doc[#{field}]', id=field)= doc[field]
