include ../mixins/layout-helpers
include ../mixins/code

!!! 5
html
    head
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js', type='text/javascript')
        link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic', rel='stylesheet', type='text/css')
        mixin stylesheet("qduke")
        title qDuke.com
        | <script type='text/javascript'>
        |    <!--// <![CDATA[
        |      var OA_zones = {
        |      'zone_946_1' : 946,
        |      'zone_946_2' : 946,
        |      'zone_946_3' : 946,
        |      'zone_946_4' : 946,
        |      'zone_946_5' : 946,
        |      'zone_946_6' : 946,
        |      'zone_946_7' : 946,
        |      'zone_946_8' : 946,
        |      'zone_946_9' : 946,
        |      'zone_946_10' : 946,
        |      }
        |    // ]]> -->
        |</script>
        |<script type='text/javascript' src='http://www.oncampusweb.com/delivery/spcjs.php?id=73&amp;block=1'></script>
    body
        #wrap
            .rowHead.clearfix
                a.box.boxLogo(href="http://qduke.com") 
                    em q
                    span Duke
                a.box(href="http://www.weather.com/weather/right-now/Durham+NC+27708") Weather
                a.box(href="https://webmail.duke.edu/") Webmail
                a.box(href="http://gmail.com/") Gmail
                a.box(href="http://facebook.com/") Facebook
            // NEWS
            .rowNews.clearfix
                a.box.boxChron(href="http://dukechronicle.com") The Chronicle
                a.box
                    .caption
                        .txt Duke Campus Quad app to help promote events
                    img(src="http://cdn.dukechronicle.com/186x133-0-0-6aRN11qN-campusquad_ThanhHa.jpg")
                a.box
                    .caption
                        .txt Duke Performances to feature leading figure in Kathak dance
                    img(src="http://cdn.dukechronicle.com/186x133-114-6-X9VK3T1S-Pandit_Special.jpg")
                a.box
                    .caption
                        .txt Film Review: Looper
                    img(src="http://cdn.dukechronicle.com/186x133-90-24-0FfgebSM-Looper_Special.jpg")
                a.box
                    .caption
                        .txt Out of the Woods: Homelessness in Durham
                    img(src="http://cdn.dukechronicle.com/186x133-19-0-TAb55N2e-homeless.jpg")
            // SEARCH
            .rowSearch.clearfix
                .box.boxSearch
                    input(name="query", type="text", style="background:transparent")
                a.box.boxButton Google
                a.box.boxButton WolframAlpha
                a.box.boxButton Duke
                - var linkRows = Math.ceil(links.length/5)
            // MENU
            .menu.clearfix
                a.box.selected(href="#") Quick Links
                span.spacer.colsmargin
                a.box Sports
                span.spacer.colsmargin
                a.box Events
                span.spacer.cols2
            // LINKS
            #contentLinks.content.contentShown
                .rowLinks.clearfix
                    -for (var i = 0; i < 5; i++)
                        a.box.boxLink.boxLinkTall(href=links[i].url) #{links[i].title}
                - for (var row = 1; row < linkRows; row++)
                    .rowLinks.clearfix
                        -for (var i = row*5; i < row*5+5; i++)
                            a.box.boxLink(href=links[i].url) #{links[i].title}
            #contentSports.content.contentHidden
                | <object width="300" height="387" type="application/x-shockwave-flash" data="http://a.espncdn.com/community/widgets/swfs/team.swf" ><param name="flashVars" value="teamID=150&amp;pid=espnteamncf_1349831029504162694&amp;share=embed&amp;sport=ncf" ><param name="movie" value="http://a.espncdn.com/community/widgets/swfs/team.swf" ><param name="wmode" value="transparent"><param name="allowScriptAccess" value="always"><param name="allowNetworking" value="all"></object>
                | <object width="300" height="387" type="application/x-shockwave-flash" data="http://a.espncdn.com/community/widgets/swfs/team.swf" ><param name="flashVars" value="teamID=150&amp;pid=espnteamncb_1349831094140417655&amp;share=embed&amp;sport=ncb" ><param name="movie" value="http://a.espncdn.com/community/widgets/swfs/team.swf" ><param name="wmode" value="transparent"><param name="allowScriptAccess" value="always"><param name="allowNetworking" value="all"></object>
            // ADS
            .menu.clearfix
                .box.selected Sponsored
                span.spacer.colsmargin
                span.spacer.cols4
            - for (var row = 0; row < 2; row++)
                .rowAds.clearfix
                    -for (var i = row*5 + 1; i <= row*5+5; i++)
                        |<script type='text/javascript'><!--// <![CDATA[
                        |                     OA_show('zone_946_#{i}');
                        |                     // ]]> --></script>

            #footer
                p &copy; 2012 
                    a(href='http://dukechronicle.com') The Chronicle 
                    | | 
                    a(href='http://dukechronicle.com/page/advertising') Advertising 
                    | | 
                    a(href='http://dukechronicle.com/page/contact') Contact 
                    | | 
                    a(href="") Feedback
                script(type='text/javascript')
                    doMagic()