link(rel='stylesheet', href='/admin/layout/styles.css')
script(src='/js/admin/layout.js')
script
    nameSpace = ["Layouts", "News"]

h2 News Layout

#layout
    <h2>DSG</h2>
    #slideshow.container(data-groupName='DSG')
        - if (model.DSG)
            - each story, id in model.DSG
                .story(draggable='true', id='#{story._id}')
                    #{story.title}

    <h2>DUU</h2>
    #slideshow.container(data-groupName='DUU')
        - if (model.DUU)
            - each story, id in model.DUU
                .story(draggable='true', id='#{story._id}')
                    #{story.title}

    <h2>China</h2>
    #slideshow.container(data-groupName='China')
        - if (model.China)
            - each story, id in model.China
                .story(draggable='true', id='#{story._id}')
                    #{story.title}


#sidebar
    .fixed-container
        select(id="taxonomy")
                option(value="All") All
                option(value="News") News
                option(value="Sports") Sports
                option(value="Opinion") Opinion
                option(value="Recess") Recess
                option(value="Towerview") Towerview
        #stories-container
            #stories
                - each story, id in stories
                    .story(draggable="true", id="#{story._id}")
                        #{story.title}


