link(rel='stylesheet', href='/admin/layout/styles.css')
script(src='/js/admin/layout.js')
script
    nameSpace = ["Layouts", "News"]

h2 News Layout

#layout

    h2 Featured
    #slideshow.container(data-groupName='Featured')
        - if (model.Featured)
            - each story, id in model.Featured
                .story(draggable='true', id='#{story._id}')
                    #{story.title}

    h2 Right Headlines
    #slideshow.container(data-groupName='RightHeadlines')
        - if (model.RightHeadlines)
            - each story, id in model.RightHeadlines
                .story(draggable='true', id='#{story._id}')
                    #{story.title}

    h2 Headlines
    #slideshow.container(data-groupName='Headlines')
        - if (model.Headlines)
            - each story, id in model.Headlines
                .story(draggable='true', id='#{story._id}')
                    #{story.title}

    h2 Stories
    #slideshow.container(data-groupName='Stories')
        - if (model.Stories)
            - each story, id in model.Stories
                .story(draggable='true', id='#{story._id}')
                    #{story.title}


#sidebar!=partial('sidebar.jade')

