link(rel='stylesheet', href='/admin/layout/styles.css')
script(src='/js/admin/layout.js')
script
    nameSpace = ["Layouts", "Opinion"]

h2 Opinion Layout

#layout
    <h2>Feature</h2>
    #slideshow.container(data-groupName='Feature')
        - if (model.Feature)
            - each story, id in model.Feature
                .story(draggable='true', id='#{story._id}')
                    #{story.title}

    <h2>Columnists</h2>
    #slideshow.container(data-groupName='Columnists')
        - if (model.Columnists)
            - each story, id in model.Columnists
                .story(draggable='true', id='#{story._id}')
                    #{story.title}

    <h2>Edit Board</h2>
    #slideshow.container(data-groupName='EditBoard')
        - if (model.EditBoard)
            - each story, id in model.EditBoard
                .story(draggable='true', id='#{story._id}')
                    #{story.title}

    <h2>More Columnists</h2>
    #slideshow.container(data-groupName='MoreColumnists')
        - if (model.MoreColumnists)
            - each story, id in model.MoreColumnists
                .story(draggable='true', id='#{story._id}')
                    #{story.title}


#sidebar!=partial('sidebar.jade')


