link(rel='stylesheet', href='/admin/layout/styles.css')
script(src='/js/admin/layout.js')
script
    nameSpace = ["Layouts", "Recess"]

h2 Recess Layout

#layout
    <h2>Featured</h2>
    #slideshow.container(data-groupName='Featured')
        - if (model.Featured)
            - each story, id in model.Featured
                .story(draggable='true', id='#{story._id}')
                    #{story.title}

    <h2>Sandbox</h2>
    #slideshow.container(data-groupName='Sandbox')
        - if (model.Sandbox)
            - each story, id in model.Sandbox
                .story(draggable='true', id='#{story._id}')
                    #{story.title}


    <h2>Interviews</h2>
    #slideshow.container(data-groupName='Interviews')
        - if (model.Interviews)
            - each story, id in model.Interviews
                .story(draggable='true', id='#{story._id}')
                    #{story.title}

    <h2>Reviews</h2>
    #slideshow.container(data-groupName='Reviews')
        - if (model.Reviews)
            - each story, id in model.Reviews
                .story(draggable='true', id='#{story._id}')
                    #{story.title}

    <h2>Stories</h2>
    #slideshow.container(data-groupName='Stories')
        - if (model.Stories)
            - each story, id in model.Stories
                .story(draggable='true', id='#{story._id}')
                    #{story.title}

#sidebar!=partial('sidebar.jade')


