link(rel='stylesheet', href='/admin/layout/styles.css')
script(src='/js/admin/layout.js')
script
    nameSpace = ["Layouts", "Sports"]

h2 Sports Layout

#layout
    <h2>Slideshow</h2>
    #slideshow.container(data-groupName='Slideshow')
        - if (model.Slideshow)
            - each story, id in model.Slideshow
                .story(draggable='true', id='#{story._id}')
                    #{story.title}

    <h2>Stories</h2>
    #slideshow.container(data-groupName='Stories')
        - if (model.Stories)
            - each story, id in model.Stories
                .story(draggable='true', id='#{story._id}')
                    #{story.title}

#sidebar!=partial('sidebar.jade')


