link(rel='stylesheet', href='/admin/layout/styles.css')
script(src='/js/admin/layout.js')
script
    nameSpace = ["Layouts", "Towerview"]

h2 Towerview Layout

#layout
    <h2>Featured</h2>
    #slideshow.container(data-groupName='Featured')
        - if (model.Featured1)
            - each story, id in model.Featured
                .story(draggable='true', id='#{story._id}')
                    #{story.title}

    <h2>Savvy</h2>
    #slideshow.container(data-groupName='Savvy')
        - if (model.Savvy)
            - each story, id in model.Savvy
                .story(draggable='true', id='#{story._id}')
                    #{story.title}

    <h2>Wisdom</h2>
    #slideshow.container(data-groupName='Wisdom')
        - if (model.Wisdom)
            - each story, id in model.Wisdom
                .story(draggable='true', id='#{story._id}')
                    #{story.title}

    <h2>Editors Note</h2>
    #slideshow.container(data-groupName='EditorsNote')
        - if (model.EditorsNote)
            - each story, id in model.EditorsNote
                .story(draggable='true', id='#{story._id}')
                    #{story.title}

    <h2>Prefix</h2>
    #slideshow.container(data-groupName='Prefix')
        - if (model.Prefix)
            - each story, id in model.Prefix
                .story(draggable='true', id='#{story._id}')
                    #{story.title}

#sidebar!=partial('sidebar.jade')


