#page
    .content.rounded
        h1 Advertising
        p
            | For information about print advertising, please email us at
            a(href="mailto:advertising@chronicle.duke.edu") advertising@chronicle.duke.edu
            | , call our advertising office at 919-684-3811 or fax to 919-668-1247. To inquire about subscriptions, call the advertising office at 919-684-3811.
        p
            | Classified ads may be placed online by clicking on the
            a(href="http://dukechronicle.campusave.com/") classifieds tab

        h2 Rates and Information
        p
            a(href=static_cdn + "/advertising/11-12%20calendar.pdf") 2011-2012 Publication Schedule
            br
            a(href=static_cdn + "/advertising/11-12%20local%20rates.pdf") 2011-2012 Local Rate Card
            br
            a(href=static_cdn + "/advertising/11-12%20campus%20rates.pdf") 2011-2012 Duke Department &amp; Student Group Rate Card
            br
            a(href=static_cdn + "/advertising/11-12%20national%20rates.pdf") 2011-2012 National Advertising Rate Card
            br
            a(href=static_cdn + "/advertising/11-12%20online%20rates.pdf") 2011-2012 Online Rate Card
            br
            a(href=static_cdn + "/advertising/11-12%20Towerview.pdf") 2011-2012 Towerview Magazine Rate Card
            br
            a(href=static_cdn + "/advertising/technicalinfo.pdf") Technical Information &nbsp;
            | (Information on submitting an ad and for directions on posting to our ftp site)
        h2 Online Advertising Rates and Information
        p If you're interested in Chronicle Online and qDuke advertising, please contact Chrissy Beck at chrissy.beck@duke.edu or (919) 684-3811.

        h2 Insertion Order Forms
        p
            a(href=static_cdn + "/advertising/IO%20National%202011-12.pdf") National Advertisers 2011-2012
            br
            a(href=static_cdn + "/advertising/IO%20Local%202011-12.pdf") Local Advertisers 2011-2012
            br
            a(href=static_cdn + "/advertising/IO%20Dept%202011-12.pdf") Duke Department Advertisers 2011-2012
            br
            a(href=static_cdn + "/advertising/IO%20SH%20Student%20Grp%202011-12.pdf") Duke Student Group Advertisers 2011-2012

        h2 Credit Forms
        p
            a(href=static_cdn + "/advertising/CreditApp.pdf") Credit Application Form
            br
            a(href=static_cdn + "/advertising/CCauth.pdf") Credit Card Authorization Form

        h2 Ad Size Samples
        p
            a(href=static_cdn + "/advertising/fulladsize.pdf") Full page
            br
            a(href=static_cdn + "/advertising/halfadsize.pdf") Half page
            br
            a(href=static_cdn + "/advertising/quarteradsize.pdf") Quarter page
            br
            a(href=static_cdn + "/advertising/eighthadsize.pdf") Eighth page
