#article
    section
        .nav.clearfix
            - each parent in parentPaths
                h2
                    a(href='/section'+parent.path+'/'+parent.name) #{parent.name}

    article
        .content.rounded
            // edit button
            if (typeof isAdmin != 'undefined' && isAdmin)
                a.edit(href=doc.url + "/edit") Edit
            h1 #{doc.title}

            if (doc.subhead)
                p
                    i #{doc.subhead}
           
            if (doc.embed)
                .embed!=doc.embed
            else
                // article image
                if (doc.images && doc.images.LargeRect && doc.images.LargeRect.url)
                    if (typeof isAdmin != 'undefined' && isAdmin && doc.images.Original)
                        a(href="/admin/image/"+doc.images.Original.name)
                            img.article(src=doc.images.LargeRect.url)
                    else
                        img.article(src=doc.images.LargeRect.url)

            // caption
            if (doc.images && doc.images.Original && doc.images.LargeRect)
                p.photo-credit #{doc.images.Original.photographer}
                p.photo-caption #{doc.images.Original.caption}

            // author and date
            .metadata
                span.credit
                    | By !{doc.authorsHtml} &nbsp; | &nbsp; #{doc.date}

            // social media, print and comments
            .social-media
                .comments
                    a(id='commentLink', href='#disqus_thread') Comments
                .print
                    a(href=doc.url + '/print') Print
                .facebook
                    fb:like(href=doc.fullUrl, send="false", layout="button_count", width="130", show_faces="false", action="recommend", font="lucida grande", style="margin-bottom: -5px")
                .twitter
                    a.twitter-share-button(href="http://twitter.com/share?via=dukechronicle" )
                        | Tweet
                .google
                    g:plusone(size="medium")
            .article-body!=doc.renderedBody

        .sidebar
            - if (model.related && model.related.length > 0)
                .related!=partial('../container/articles-with-subhead', {title: "Related", stories: model.related})

             // advertising
            .image-container.medium-rectangle!=partial('ad/medium-rect', {title: "Advertisement"})

            .container.clearfix.facebook-recommendations(style="margin-bottom: 20px")
                .vertical-container
                    h2.vertical Facebook Recommended
                .rounded(style="width: 300px; height: 300px; background: white")
                    fb:recommendations(site="www.dukechronicle.com", border-color="white", width="300", height="300", font="lucida grande", header="false", max-age="7")

            - if (model.popular && model.popular.length > 0)
                .numbered-articles.most-popular!=partial('../container/numbered-articles', {title: "Popular", stories: model.popular})

    // comments
    #disqus_thread.rounded(data-disqus=JSON.stringify(disqusData))

script(src="http://platform.twitter.com/widgets.js", type="text/javascript")
script(type="text/javascript")
    (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
// Anayltics Article Taxonomy
!=partial("code/ga-customVar-articleTaxonomy");
