extends layout

block header
    header.header-frontpage
        #header-top.clearfix
            a#home-link(href="/")
                img#header-overlay(src=staticCdn + "/img/header-overlay.png")
                h3.tagline The Daily Independent at Duke University
                h1.brand The Chronicle
                
                
        #header-bottom.clearfix
            nav#nav
                a(href="/news", class=(section == 'News') ? "active" : ""): h2 News
                a(href="/sports", class=(section == 'Sports') ? "active" : ""): h2 Sports
                a(href="/opinion", class=(section == 'Opinion') ? "active" : ""): h2 Opinion
                a(href="/recess", class=(section == 'Recess') ? "active" : ""): h2 Recess
                a(href="/towerview", class=(section == 'Towerview') ? "active" : ""): h2 Towerview
                a(href="http://chronicleblogs.com"): h2 Blogs
                a(href="http://shutter.dukechronicle.com"): h2 Photos
            form#search-box(action='/search/', method='GET')
                    input(type='search', name='q', placeholder='Search archives', results='5', value=query)



block content
    #frontpage
        #top.clearfix.align-group
            .content.span-8.align-element(data-alignprimary="true")
                if (model["Top Headline"])
                    #top-headline!=partial('../container/story-list/teaser', {stories: model["Top Headline"]})
                if (model.Breaking)
                    #breaking!=partial('../container/breaking', {stories: model.Breaking})
                if (model.Slideshow)
                    #slideshow!=partial('../container/slideshow', {stories: model.Slideshow})
                if (model["Left Headlines"] && model["Right Headlines"])
                    #headlines!=partial('../container/top-news', {title: "Top Stories", left: model["Left Headlines"], right: model["Right Headlines"]})

                .ads-row.clearfix
                    if (model.printEdition)
                        .lighten.span-2#print-edition!=partial('../container/image', model.printEdition)
                    .lighten.span-6.last!=partial('../container/ad/full-banner', {title: "Ad", index: 2})

            .sidebar.span-4.last.align-element(data-aligntarget="#popular .rounded")
                if (model.popular)
                    #popular.title-small!=partial('../container/story-list/subhead', {title: "What's Hot", stories: model.popular})
                if (model.Opinion)
                    #opinion.title-small!=partial('../container/story-list/subhead', {title: "Opinion", stories: model.Opinion})
                !=partial('../container/ad/medium-rect', {title: "Advertisement", index: 1})

        #middle.clearfix.align-group
            if (model.News)
                #news.span-6.align-element(data-alignTarget=".rounded")!=partial('../container/news', {title: "News", stories: model.News})
            if (model.Sports)
                #sports.span-6.last.align-element(data-alignTarget=".rounded")!=partial('../container/news', {title: "Sports", stories: model.Sports})

        #bottom
            if (model.Recess)
                #recess!=partial('../container/row/feature', {title: "Recess", stories: model.Recess})
            if (model.Towerview)
                #towerview!=partial('../container/row/feature', {title: "Towerview", stories: model.Towerview})
