script(type='text/javascript')
    CHRONICLE.onload.push(function () {
        scrollLoad("/api/staff/#{name}");
    });

#people
    h1 #{name}
    .main
        .rounded.result
            for doc in docs
                .document
                    h3
                        a.title.url(href=doc.url) #{doc.title}
                    .date #{doc.date}
            - if(docs.length == 0)
                div No articles found
            div#loadImage(style="height: 300px;", data-key="2")
                img(src='http://d2sug25c5hnh7r.cloudfront.net/images/loading.gif', style="display: block; margin-left: auto; margin-right: auto")
