#people
    h1 #{name}
        if (typeof isAdmin != 'undefined' && isAdmin)
            a.edit(href="/staff/"+name+"/edit") &nbsp;&nbsp;Edit

    .span-7.title-medium
        .rounded.story-list
            .content-container
                - each doc in docs
                    .document.list-story
                        a.hover.highlight-left.url(href=doc.url)
                            h3.title= doc.title
                            .subtitle
                                span.date= doc.date
                - if (docs.length == 0)
                    div No articles found
                - else
                    #loadImage(style="height: 150px;", data-key=JSON.stringify(next), data-url="/api/staff/#{name}")
                        img(src='http://d2sug25c5hnh7r.cloudfront.net/images/loading.gif', style="display: block; margin-left: auto; margin-right: auto")

    - if (authorInfo)
        .sidebar.span-5.last
            .vertical-container
                h2.vertical Profile
            .rounded
                .content-container
                    if (authorInfo.images && authorInfo.images.StaffHeadshot)
                        img.fitimage(src=authorInfo.images.StaffHeadshot.url)
                    h2= authorInfo.name
                    p.affiliation= authorInfo.affiliation
                    - if (authorInfo.twitter)
                        a.twitter(href="http://twitter.com/#{authorInfo.twitter}") @#{authorInfo.twitter}
                    p.tagline= authorInfo.tagline
                    br
                    p.bio!= authorInfo.renderedBio
