#recess
    !=partial('../layout/subnav', {subsections: subsections})

    #top.clearfix
        .span-6
            if (model.Featured && model.Featured[0])
                !=partial('../container/featured-image.jade', {title: "", story: model.Featured[0]})
        .span-6.last
            .clearfix.align-group
                if (model.Featured[1])
                    .span-3.align-element(data-aligntarget=".rounded")!=partial('../container/block', {title: "", story: model.Featured[1], imageType: "rect"})
                if (model.Featured[2])
                    .span-3.last.align-element(data-aligntarget=".rounded")!=partial('../container/block', {title: "", story: model.Featured[2], imageType: "rect"})
            .lighten!=partial('../container/ad/full-banner', {title: "Ad"})

    #middle.clearfix
        if (model.Stories)
            .bottom.clearfix.align-group
                if (model.Stories[0])
                    .span-3.align-element(data-aligntarget=".rounded")!=partial('../container/block-teaser', {story:model.Stories[0]})
                if (model.Stories[1])
                    .span-3.align-element(data-aligntarget=".rounded")!=partial('../container/block-teaser', {story:model.Stories[1]})
                if (model.Stories[2])
                    .span-3.align-element(data-aligntarget=".rounded")!=partial('../container/block-teaser', {story:model.Stories[2]})
                if (model.Stories[3])
                    .span-3.last.align-element(data-aligntarget=".rounded")!=partial('../container/block-teaser', {story:model.Stories[3]})
        if (model.Music)
             #reviews!=partial('../container/block-row.jade', {title: 'Music', stories: model.Music})
        if (model.Film)
            #interviews!=partial('../container/block-row.jade', {title: 'Film', stories: model.Film})
        if (model.Art)
            #sandbox!=partial('../container/block-row.jade', {title: 'Art', stories: model.Art})
        .span-12.last!=partial('../container/multimedia', {title: "Multimedia", multimedia: model.multimedia.Recess})
