extends layout

block content
    #recess
        !=partial('../layout/subnav', {subsections: subsections})

        #top.clearfix.align-group
            .span-6.align-element(data-aligntarget="#featured .rounded")
                if (model.Featured && model.Featured[0])
                    #featured!=partial('../container/block/featured', {story: model.Featured[0]})
                .lighten!=partial('../container/ad/full-banner', {title: "Ad", index: 2})
            .span-3.align-element(data-aligntarget=".feature:last-child .rounded")
                if (model.Featured[1])
                    .feature!=partial('../container/block', {title: "", story: model.Featured[1]})
                if (model.Featured[2])
                    .feature!=partial('../container/block', {title: "", story: model.Featured[2]})
            .span-3.last.align-element(data-aligntarget="#blog .rounded")
                if (model.Blog)
                    #blog.title-small!=partial('../container/story-list', {title: "Recess Blog", stories: model.Blog})
                if (model.Stories)
                    - each story in model.Stories
                        !=partial('../container/block/teaser', {story:story})

        #middle.clearfix
            if (model.Music)
                 #reviews!=partial('../container/row/feature', {title: 'Music', stories: model.Music})
            if (model.Film)
                #interviews!=partial('../container/row/feature', {title: 'Film', stories: model.Film})
            if (model.Art)
                #sandbox!=partial('../container/row/feature', {title: 'Art', stories: model.Art})
            .span-12.last!=partial('../container/row/multimedia', {title: "Multimedia", multimedia: model.multimedia.Recess})
