#recess
    !=partial('../layout/subnav', {subsections: subsections})

    #top.clearfix
        .span-6
            if (model.Featured && model.Featured[0])
                !=partial('../container/featured-image.jade', {title: "", story: model.Featured[0]})
            .lighten!=partial('../container/ad/full-banner', {title: "Ad"})
        .span-3
            if (model.Featured[1])
                !=partial('../container/block', {title: "", story: model.Featured[1]})
            if (model.Featured[2])
                !=partial('../container/block', {title: "", story: model.Featured[2]})
        .span-3.last
            if (model.Blog)
                .title-small!=partial('../container/story-list', {title: "Recess Blog", stories: model.Blog})
            if (model.Stories)
                - each story in model.Stories
                    !=partial('../container/block-teaser', {story:story})

    #middle.clearfix
        if (model.Music)
             #reviews!=partial('../container/row-feature', {title: 'Music', stories: model.Music})
        if (model.Film)
            #interviews!=partial('../container/row-feature', {title: 'Film', stories: model.Film})
        if (model.Art)
            #sandbox!=partial('../container/row-feature', {title: 'Art', stories: model.Art})
        .span-12.last!=partial('../container/row-multimedia', {title: "Multimedia", multimedia: model.multimedia.Recess})
