- var monthArray = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

script(type='text/javascript')
    CHRONICLE.onload.push(function () {
        var scrollLoadUrl = "search/?q=#{query}&sort=#{sort}&order=#{order}&facets=#{currentFacets}";
        var scrollLoadHTML = '<a href="/article/URL_REPLACE" class="addedArticle result rounded-hover"><h3>HEADER_REPLACE</h3><div class="date">DATE_REPLACE<span class="sep">&nbsp;|&nbsp;</span>AUTHOR_REPLACE</div><div class="teaser">TEASER_REPLACE</div></a>';
        scrollLoadPage(scrollLoadUrl, 2, scrollLoadHTML);
    });

#search
    .sidebar
        .sort.container.clearfix
            .vertical-container
                h2.vertical Sort
            .rounded
                .content-container
                    a.hover.highlight-right(href='?q=' + query +'&sort=relevance&order=desc'+'&facets='+currentFacets) Relevance
                    a.hover.highlight-right(href='?q=' + query +'&sort=date&order=desc'+'&facets='+currentFacets) Newest First
                    a.hover.highlight-right(href='?q=' + query +'&sort=date&order=asc'+'&facets='+currentFacets) Oldest First
        - if(currentFacets.length > 0)
            - currentFacets += ',';
        for facet,facetName in facets
            .container.clearfix(class=facetName)
                .vertical-container
                    h2.vertical By #{facetName}
                .rounded
                    .content-container
                        for value,key in facet
                            a.hover.highlight-right(href='?q=' + query + '&sort='+sort+'&order='+order+'&facets='+currentFacets+facetName+':'+key)
                                - if(facetName == 'Month')
                                    #{monthArray[key-1]} (#{value})
                                - else
                                    #{key} (#{value})

    .main
        for doc in docs
            a.result.rounded-hover(href=doc.url)
                h3 !{doc.title}
                .date
                    | #{doc.date}
                    span.sep &nbsp;|&nbsp;
                    | !{doc.authors}
                .teaser !{doc.teaser}
        - if(docs.length == 0)
            div No articles found
        div.result.rounded-hover(id='loadImage')
            img(src='http://d2sug25c5hnh7r.cloudfront.net/images/loading.gif', style="display: block; margin-left: auto; margin-right: auto")
            br
            br
            br
            br
            br
            br
            br
            br
