extends layout

block content
    nav.subnav.clearfix
        - each parent in parentPaths
            a.hover.selected(href='/section/' + parent.path)
                h2 #{parent.name} |
        - each subsection in subsections
            a.hover(href='/section/' + subsection.path)
                h2= subsection.name
    #section
        .span-8
            - each doc in docs
                .rounded.document
                    a.hover.url(href=doc.url)
                        .content-container
                            h3.title!= doc.title
                            .dateline.subtitle
                                span.date!= doc.date
                                span.author!= doc.authors.join(", ")
                            p.teaser!= doc.teaser

            - if (docs.length == 0)
                div No articles found
            - else
                #loadImage(data-key=JSON.stringify(next), data-url="/api/section/#{taxonomyPath}")

        .span-4.last
            - if (typeof popular != 'undefined' && popular.length > 0)
                #popular.title-small!=partial('../container/story-list/numbered', {title: "Popular", stories: popular})
            !=partial('../container/ad/medium-rect', { title: "Advertisement", index: 1})
            !=partial('../container/facebook')
            !=partial('../container/ad/medium-rect', { title: "Advertisement", index: 2})