extends layout

block title
    h1
        - each parent, i in parentPaths
            - if (i > 0)
                |  &raquo; 
            a.hover.selected(href='/section/' + parent.path)= parent.name

block content
    #section
        .span-8
            - each doc in docs
                .rounded.document
                    a.hover.url(href=doc.url)
                        .content-container
                            h3.title!= doc.title
                            .dateline.subtitle
                                span.date!= doc.date
                                span.author!= doc.authors.join(", ")
                            p.teaser!= doc.teaser

            - if (docs.length == 0)
                div No articles found
            - else
                #loadImage(data-key=JSON.stringify(next), data-url="/api/section/#{taxonomyPath}")

        .span-4.last
            !=partial('../container/ad/medium-rect', { title: "Advertisement"})
            - if (typeof popular != 'undefined' && popular.length > 0)
                #popular.title-small!=partial('../container/story-list/numbered', {title: "Popular", stories: popular})
            !=partial('../container/facebook')
