nav.subnav.clearfix
    - each parent in parentPaths
        a.hover.selected(href='/section' + parent.path)
            h2
                #{parent.name} |
    - each subsection in subsections
        - each subsectionName,subsectionPath in subsection
            a.hover(href='/section/' + subsectionPath)
                h2 #{subsectionName}
#section
    .span-8
        - each doc in docs
            .rounded.document
                a.hover.url(href=doc.url)
                    .content-container
                        h3.title!= doc.title
                        .dateline.subtitle
                            span.date!= doc.date
                            span.author!= doc.authors
                        p.teaser!= doc.teaser

        - if (docs.length == 0)
            div No articles found
        - else
            #loadImage(style="height: 150px;", data-key=JSON.stringify(next), data-url="/api/section/#{taxonomyPath}")
                img(src='http://d2sug25c5hnh7r.cloudfront.net/images/loading.gif', style="display: block; margin-left: auto; margin-right: auto")

    .span-4.last
        - if (typeof popular != 'undefined' && popular.length > 0)
            #popular.title-small!=partial('../container/story-list/numbered', {title: "Popular", stories: popular})
        .lighten!=partial('../container/ad/medium-rect', { title: "Advertisement" })
        !=partial('../container/facebook')
        .lighten!=partial('../container/ad/medium-rect', { title: "Advertisement" })