.nav.clearfix
    for parent in parentPaths
        h2.selected
            a(href='/section' + parent.path) #{parent.name} |
    for subsection in subsections
        for subsectionName,subsectionPath in subsection
            h2
                a(href='/section/' + subsectionPath) #{subsectionName}
#section
    .articles
        for doc in docs
            a.result.document.rounded-hover(href=doc.url, data-key=JSON.stringify(doc.query_key), id=doc._id)
                h3 #{doc.title}
                .date #{doc.date}
                .teaser #{doc.teaser}
        - if(docs.length > 0)
            script(type='text/javascript')
                CHRONICLE.onload.push(function () {
                    var scrollLoadUrl = "/api/section/#{taxonomyPath}";
                    var scrollLoadHTML = '<a class="result rounded-hover document" href="/article/URL_REPLACE">'+ '<h3>HEADER_REPLACE</h3><div class="date">DATE_REPLACE</div><div class="teaser">TEASER_REPLACE</div></a>';
                    scrollLoadLastDoc(scrollLoadUrl, scrollLoadHTML);
                });

            div.result.rounded-hover#loadImage(style="height:300px;")
                img(src='http://d2sug25c5hnh7r.cloudfront.net/images/loading.gif', style="display: block; margin-left: auto; margin-right: auto;")

    .sidebar
        - if (typeof popular != 'undefined' && popular.length > 0)
            .numbered-articles.most-popular!=partial('../container/numbered-articles', {title: "Popular", stories: popular})
        // facebook recommend
        .container.clearfix.facebook-recommendations(style="margin-bottom: 20px")
            .vertical-container
                h2.vertical Facebook Recommended
            .rounded(style="width: 300px; height: 300px; background: white")
                .fb-recommendations(data-site="dukechronicle.com", data-border-color="white", data-width="300", data-height="300", data-font="lucida grande", data-header="true", max-age="7")
        script
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
