extends layout

block content
  - var symbol = information.homeGame ? 'vs' : '@';
  h2 #{information.mainTeam.name} #{information.mainTeam.mascot} #{information.sport} #{symbol} #{information.opposingTeam.name} #{information.opposingTeam.mascot}

  #top.clearfix.align-group
    .span-6.align-element#embed(data-aligntarget='.rounded')
      .rounded
        .image-container
          !=embed

    .span-6.last.align-element(data-aligntarget="#information .rounded")
      #information!=partial('../container/sport-event-info', {title: 'Game Details', info: information})
