!=partial('subnav', {subsections: subsections})

#towerview
    .main.clearfix
        // towerview features
        if (model.Featured)
            if (model.Featured[0])
                .row.first!=partial('../container/featured-image.jade', {title: 'Features', story: model.Featured[0]})
            .row.feature.clearfix
                if (model.Featured[1])
                    .first!=partial('../container/block-square-image', {title: 'Features', story: model.Featured[1]})
                if (model.Featured[2])
                    .last!=partial('../container/block-square-image',{title: '', story: model.Featured[2]})
                
            .row.last
                // savvy
                if (model.Savvy)
                    .savvy!=partial('../container/block-row.jade', {title: '', stories: model.Savvy})
                // wisdom
                if (model.Wisdom)
                    .wisdom!=partial('../container/block-row.jade', {title: 'Wisdom', stories: model.Wisdom})
        .row.issuu
            <object style="width:642px;height:418px" ><param name="movie" value="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf?mode=mini&amp;backgroundColor=%23222222&amp;documentId=120419050106-1cfbf5164058440db797264928906b2b" /><param name="allowfullscreen" value="true"/><param name="menu" value="false"/><param name="wmode" value="transparent"/><embed src="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf" type="application/x-shockwave-flash" allowfullscreen="true" menu="false" wmode="transparent" style="width:642px;height:418px" flashvars="mode=mini&amp;backgroundColor=%23222222&amp;documentId=120419050106-1cfbf5164058440db797264928906b2b" /></object>

    .sidebar.clearfix
        if (model["Editors Note"])
            .editorsNote!=partial('../container/block.jade', {title: "Letter from the Editor", story: model["Editors Note"][0]})
        if (model.adFullRectangle)
            .image-container.medium-rectangle.lighten!=partial('ad/medium-rect', {title: "Advertisement"})
        // prefix
        if (model.Prefix)
            - each story in model.Prefix
                .prefix!=partial('../container/block-wide-image.jade', {title: '', story: story})
